<td class="tdd">
      <ul class="menud">
        <li><a title="Vyberte kapitolu v našem Helpu.">Vyberte kapitolu »</a>
          <ul>
            <li><%= link_to 'Arrakis', help_arrakis_path %></li>
            <li><%= link_to 'Budovy', help_budovy_path %></li>
            <li><%= link_to 'Hodnosti ve hře', help_hodnosti_path %></li>
            <li><%= link_to 'Landsraad a Impérium', help_landsraad_path %></li>
            <li><%= link_to 'Planety a léna', help_planety_a_lena_path %></li>
       <!-- <li><%= link_to 'Přesun armády', help_presun_path %></li> -->
            <li><%= link_to 'Správa a renegátství', help_sprava_path %></li>
            <li><%= link_to 'Suroviny a komodity', help_suroviny_path %></li>          
            <li><%= link_to 'Transport surovin', help_transport_path %></li> 
            <li><%= link_to 'Trh a obchod', help_trh_path %></li>
            <li><%= link_to 'Velkorody', help_velkorody_path %></li>
            <li><%= link_to 'Výzkum', help_vyzkum_path %></li>
            
            
          </ul>
        </li>
      </ul>
</td>