<p>
  <%= link_to 'Úvod', help_path %> |
  <%= link_to 'Suroviny, komodity', help_suroviny_path %> |
  <%= link_to 'Planety a léna', help_planety_a_lena_path %> |
  <%= link_to 'Budovy', help_budovy_path %> |
  <%= link_to 'Arrakis', help_arrakis_path %> |
  <%= link_to 'Transport', help_transport_path %> |
  <%= link_to 'Přesun', help_presun_path %> |
  <%= link_to 'Trh', help_trh_path %> |
  <%= link_to 'Výzkum', help_vyzkum_path %> |
  <%= link_to 'Správa', help_sprava_path %> |
  <%= link_to 'Landsraad', help_landsraad_path %>
</p>