<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Arrakis', help_arrakis_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<table class="tab1">
  <tr>
      <td class="tdpl" style="width:160px; background-image: url(<%= asset_path 'imghra/arrakis_v.png' %>)">
          <h2 id="arrakis">Arrakis</h2>
          <br><br><a href="http://www.dune.cz/encyklopedie/Arrakis"  target="_blank">Encyklopedie Duny</a>
      </td>
      <td>

        Je planetou kde je produkována melanž. Tato planeta je jen jedna jediná ve 
        známém vesmíru. Lze zde budovat Továrny na koření. Produkce továren je ovlivněno výzkumem 
        investice do koření. Pro impérium je vhodné postavit co nejdříve maximální počet
         Továren a aby Místodržící měl vysoký výzkum v Investice do koření. 

        <br>Vyprodukovaná melanž je přeposílána do Landraadu a Landsraad ji přerozděluje 
        dále mezi rody. Hráčům melanž zasílá vedení Velkorodů.
        
       </td>
  
  </tr> <tr>
  
      <td class="tdpl" style="width:160px; background-image: url(<%= asset_path 'imghra/mistodrzici.png' %>)">
          <h2 id="arrakis">Místodržící</h2>
      </td>
      <td>  
        Držitel léna na Arrakis je hráč vybraný Landsraadem. Jmenuje jej pouze  Imperátor. 
        Jinak je nazývám Místodržící nebo Správce pololéna.
        <br>Pokud je Místodržící odvolán v následujícím přepočtu není produkována melanž. 
        Místodržícího je možné pasovat až tři dny po odvolání předešlého správce.
  
      </td>
  </tr>
</table>