<h2  id="ekonomika">Obsah nápovědy:</h2>

<ul>
  <li><%= link_to 'Suroviny, komodity', help_suroviny_path %></li>
  <li><%= link_to 'Planety a léna', help_planety_a_lena_path %></li>
  <li><%= link_to 'Budovy', help_budovy_path %></li>
  <li><%= link_to 'Arrakis', help_arrakis_path %></li>
  <li><%= link_to 'Transport', help_transport_path %></li>
  <li><%= link_to 'Přesun', help_presun_path %></li>
  <li><%= link_to 'Trh', help_trh_path %></li>
  <li><%= link_to 'Výzkum', help_vyzkum_path %></li>
  <li><%= link_to 'Správa', help_sprava_path %></li>
  <li><%= link_to 'Landsraad', help_landsraad_path %></li>
</ul>