<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Landsraad', help_landsraad_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="landsraad">Landsraad</h2>

<table class="tab1">
  <tr>
      <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/landsraad.png' %>)">
          <h2 id="poslanec">Senátor (dříve Poslanec)</h2>
          <br><br><a href="http://www.dune.cz/encyklopedie/Landsraad"  target="_blank">Encyklopedie Duny</a>
      </td>
      <td>
          Senátor je volen členy vašeho Velkorodu. Volby probíhají každou neděli. 
          Váš hlas můžete průběžně měnit.
          <br>Zastupuje vás dále zastupuje v Landsraadu. Zde volí Imperátora, 
          předkládá a schvaluje zákony, rozhoduje o přerozděleni melanže.
          <br>Počet senátorů, kteří z vašeho rodu postoupí do Landsraadu, udává 
          podíl vašeho národního vlivu v celkovém vlivu impéria. 
          <br>Než jsou senátoři zvoleni, sedí na jejich místě vůdcové jednotlivých 
          Velkorodů. Ti mají možnost zvolit Imperátora než zasedne celý Landsraad.
      </td>
  <tr></tr>    
      <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/dvur_v.png' %>)">
          <h2 id="imperator">Imperátor a regenti</h2>
          <br><br><a href="http://www.dune.cz/encyklopedie/Imper%C3%A1tor"  target="_blank">Encyklopedie Duny</a>
      </td>
      <td>
        <br>Po sestavení Landsraadu musí senátoři rozhodnout o budoucím Imperatorovi. 
        <br>Pokud Imperátor neni zvolen je ohrožena produkce na Arrakis, jelikož
         není nikdo kdo by jmenoval Držitele pololéna na této jedinečné planetě.
        <br>Pokud Landsraad nerozhodne o Imperátorovi nahradí jej až tři regenti
         ve správě Impéria. Tito zástupci na postě nejvyššího ale nemohou
          jmenovat Místodržícího! Mohou ale nastavit rozdělení melanže a spravovat
          sklady impéria.
        <br>Imperátor má možnost verbovat speciální elitní jednotky - Imperiální
         gardu.
        <br>Imperátor smí zaútočit i na národ s nimiž má jeho mateřský Velkorod
         mírový vztah. 
        <br>Imperátor je odvolatelný a zodpovídá se Landsraadu.
        <br>Volbu Imperátora vyvolávají Titáni. Senátoři volbu vyvolají předložením
         a schválením zákona o volbě Imperátora.
      </td>
  <tr></tr>    
      <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/landsraad.png' %>)">
          <h2 id="zakon">Zákon</h2>
      </td>
      <td>
        <br>Předkládají jej senátoři, Imperátor, Vezíři a vůdcové Velkorodů.
        <br>Všichni občané Impéria jsou povinni zákony plnit.
        <br>Nad plněním zákonů dohlíží Imperátor a jeho dvůr.
      </td>
  <tr></tr>    
      <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/dvur_v.png' %>)">
          <h2 id="dvůr">Vezíři a Imperiální dvůr</h2>
      </td>
      <td>

        <br><b>Vezíři</b> jsou jednoduše zástupci Imperátora. Mohou vykonávat
         základní správu, ale nemohou jmenovat Místodržícího.
        <br>Imperiální dvůr jsou vybranou smetánkou z celého Impéria. Jsou součástí
         a mnohdy i produktem Imperiálních intrik. Díky blízké pozici k nejvyšší
          politice mají bonus do svého vlivu.
        <br>Maximální počet dvořanů je 20.
  </tr>
</table>