<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Landsraad', help_landsraad_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h2 id="landsraad">Landsraad</h2>

<table class="tab1">
  <tr>
      <td class="tdpl" style="width:160px; background-image: url(<%= asset_path 'imghra/landsraad.png' %>)">
          <h2 id="poslanec">Senátor </h2>
          <br><br><a href="http://www.dune.cz/encyklopedie/Landsraad"  target="_blank">Encyklopedie Duny</a>
      </td>
      <td>
          Senátor je volen členy vašeho Velkorodu. Volby probíhají každou neděli. 
          Váš hlas můžete průběžně měnit.
          <br><br>Zastupuje vás dále zastupuje v Landsraadu. Zde volí Imperátora, 
          předkládá a schvaluje zákony, rozhoduje o přerozděleni melanže.
          <br><br>Počet senátorů, kteří z vašeho rodu postoupí do Landsraadu, udává 
          podíl vašeho národního vlivu v celkovém vlivu impéria. Maximální počet 
          senátorů je 33.
          <br><br>Senátoři jako jedinní schvalují zákony. 
          <br><br>Vůdcové nejsou automaticky senátory. Mohou ale vidět Landsradní
          syselaad a předkládat zákony. Hlasovat o zákonu nemohou.
          
      </td>
  <tr></tr>    
      <td class="tdpl" style="width:160px, min-height:100px; background-image: url(<%= asset_path 'imghra/dvur_v.png' %>)">
          <h2 id="imperator">Imperátor a regenti</h2>
          <br><br><a href="http://www.dune.cz/encyklopedie/Imper%C3%A1tor"  target="_blank">Encyklopedie Duny</a>
      </td>
      <td>
        Po sestavení Landsraadu mohou senátoři rozhodnout o budoucím Imperatorovi. 
        Pokud není hlava říše zvolena je ohrožena produkce na Arrakis, jelikož
         není nikdo kdo by jmenoval Držitele pololéna.
        <br><br>Pokud Landsraad nerozhodne o Imperátorovi nahradí jej až tři regenti
         ve správě Impéria.
        <br><br>Imperátor má možnost verbovat speciální elitní jednotky - Imperiální
         gardu.
        <br><br>Imperátor smí zaútočit i na národ s nimiž má jeho mateřský Velkorod
         mírový vztah. 
        <br><br>Zákonem mohou senátoři vyvolat novou volbu Imperátora a tak hlavu říše
        svrhnout. Volbu Imperátora vyvolávají Titáni k datu, které je oznámeno 
        oficiálním prohlášením zástupce Landsraadu na Mezinárodním Syselaadu.
        <br><br>Imperátor má možnost Landsraadem schválené zákony podepsat. Pokud tak
        neučiní, jsou zákony vetovány a přechází v druhé jednání v Landsraadu. V 
        době kdy Imperátor není ještě zvolen. Podepisují zákony po schválení Titáni.
      </td>
  <tr></tr>    
      <td class="tdpl" style="width:160px; background-image: url(<%= asset_path 'imghra/zakon_v.png' %>)">
          <h2 id="zakon">Zákon</h2>
      </td>
      <td>
        Předkládají jej senátoři, Imperátor, Vezíři a vůdcové Velkorodů.
        <br>Všichni občané Impéria jsou povinni zákony plnit. Nad plněním zákonů 
        dohlíží Imperátor a jeho dvůr.
        <br><br>Imperátor má možnost Landsraadem schválené zákony podepsat. Pokud tak
        neučiní, jsou zákony vetovány a přechází v druhé jednání v Landsraadu. V 
        době kdy Imperátor není ještě zvolen. Podepisují zákony po schválení Titáni. 
        <br><br>Předložené zákony nemohou zasahovat do systému hry. Tedy nemohou změnit
        způsob volby senátorů, Imperátora a ani dalších volených zástupců. Nemohou 
        rozpustit Velkorod a ani nemohou měnit systémové parametry hry.
        <br><br>Zákonem mohou senátoři vyvolat novou volbu Imperátora, nebo rozpustit 
        Landsraad. Po rozpuštení jsou spuštěny volby senátorů ještě před dnem 
        klasické volby senátorů (neděle).
         
      </td>
  <tr></tr>    
      <td class="tdpl" style="width:160px; background-image: url(<%= asset_path 'imghra/kaitan_v.png' %>)">
          <h2 id="dvůr">Regenti, Vezíři a Imperiální dvůr</h2>
      </td>
      <td>
        <b>Regenti</b> spravují Impérium v době, kdy není zvolen Imperátor. 
        Mohou vykonávat základní správu, ale nemohou schvalovat zákony a jmenovat Místodržícího. 
        Politicky jsou jejich kroky pod přímou kontrolou Landsraadu. Pokud dojde k
        rozkolu mezi Regenty, mohou veřejně hlasovat na Landsraadním syselaadu. 
        Příkladem je rozkol z důvodu agrese některého rodu, nebo zákroku jednoho 
        z Regentů, který neschvalují jeho kolegové. Regent je odvolatelný vyvoláním
        nových voleb Imperátora.
        
        <br><br><b>Vezíři</b> jsou jednoduše zástupci Imperátora. Mohou vykonávat
         základní správu, ale nemohou jmenovat Místodržícího. Politicky jsou jejich
         kroky pod přímou kontrolou Landsraadu nebo Imperátora. Nemohou vykonat 
         změnu bez veřejným schválením kroku Imperátorem, nebo bez platného zákona.
         
        <br><br>Imperiální dvůr jsou vybranou smetánkou z celého Impéria. Jsou součástí
         a mnohdy i produktem Imperiálních intrik. Díky blízké pozici k nejvyšší
          politice mají bonus do svého vlivu. Dvořané nemají politicky žádnou 
          funkci. Maximální počet dvořanů je 20.
  </tr>
</table>