<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Správa', help_sprava_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<table class="tab1">
  <tr>
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/hracsklad.png' %>)">
          <h2>Správa hráče</h2>
          
      </td>
      <td>
        <p>Je vaším soukromým prostorem. Zde máte možnost přeposíla suroviny, vstupovat do
        Malorodů a volit své zástupce. </p>
      </td>
  
  </tr> <tr>
        
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/malorodnisklad.png' %>)">
          <h2>Správa Malorodu</h2>
      </td>
      <td>
        <p>Malorod je menší skupina hráčů uvnitř Velkorodu. Jejich počet je omezen na 10 
        členů. Správa malorodu je zaměřena na spravování surovin v Malorodním skladě. 
        Také je možné poslat poštu členům Malorodu.  </p>
      </td>
      
      </tr><tr>
      
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/narodnisklad.png' %>)">
          <h2>Správa Velkorodu</h2>
      </td>
      <td>
        <p>Slouží k rozdělování jednotek a surovin mezi členy Velkorodu. Ke správě rodu 
        náleží i možnost psát poštu členům Velkorodu, nebo nakupování a prodej surovin
        a komodit do národního skladu.  </p>
        <p>Velkorodu paří také mezinárodní diplomacie, mezinárodní přesuny surovin a 
        komodit a také dobývání domovských planet.</p> 
      </td>
      
      </tr><tr>
      
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/mistodrzici.png' %>)">
          <h2>Správa Impéria</h2>
      </td>
      <td>
        <p>Správa Imperia je založena na tvorbě a schvalování zákonů (pravidel uvnitř hry) 
        a rozdělování melanže. Imperium má hlavně možnost kontrolovat produkci koření a
        udržovat stabilitu hry. </p>
        <p>Informace kolem Imperia najdete hlavně v <%= link_to 'Landsraad a Impérium', help_landsraad_path %></p> 
      </td>
      
      </tr><tr>
      
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/renegat_v.png' %>)">
          <h2>Renegátství</h2>
      </td>
      <td>
        <p>Hráč, který opustí Velkorod (nebo je opuětěn) se stává renegátem. Renegát po 3
       dnech smí podat žádost o vstup do Velkorodu. A tak vstoupit do služeb nového
       národa.</p>
        <p>Renegát neni jako hráč nijak omezen. Nemůže využívat výhody Velkorodu 
        (výzkum, sklady ap.) ale v osídlování, útocích a obchodu neni nijak omezen.</p>
      </td>
      
  </tr>
</table>
