<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Suroviny', help_suroviny_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

<h3 id="suroviny">Suroviny, komodity</h3>
<br><%= img_solary %> <b>Soláry</b> - hlavní platidlo hry. Platí se jím za stavbu budov, nákup jednotek, kolonizaci a osidlování lén. Je produkováno v Tržišti (a z něj vyvinutých budov).
<br><%= img_material %> <b>Materiál</b> - stavební komodita. Platí se jím za stavbu budov, výrobu výrobků a zbroje. Je produkováno v Dolech (a z nich vyvinutých budov).
<br><%= img_melanz %> <b>Melanž</b> - komodita pro kolonizaci a nákup speciálních jednotek. Je produkována pouze na planetě Arrakis. O její přerozděleni mezi rody rozhoduje Landsraad. Hráčům je dále zasílá vedení rodu.  
<br><%= img_populace %> <b>Populace</b> - komodita nutná pro produkci budov a verbování jednotek. Populace také navyšuje vliv. Obyvatelé se rodí ve Městech (a z něj vyvinutých budov). 
<br><%= img_zkusenosti %> <b>Výzkumné body (expy)</b> - komodita pro nákup výzkumu. Jsou produkovány v Laboratořích  (a z nich vyvinutých budov).
<br><b>Vliv</b> - Produkují ji jednotliví hráči svým hraním. Vliv roste, nebo klesá, u všech rodů během celé hry. Podle vlivu rodu získá rod počet zástupců v Landsraadu. 
<br><%= img_vyrobky %> <b>Výrobky</b> - Výrobky jsou produkovány v Továrnách (a z nich vyvinutých budov). Slouží k vybavení vašich vojenských jednotek nebo výrobě dalších obchodovatelných komodit.
