<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Velkorody', help_velkorody_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

      
<table class="tab1">
  <tr>        
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Atreides/erb.png' %>)">
          <h2>Atreides</h2>
          <b>Vůdce:</b> Vévoda</p>
          <p><b>Domovská planeta:</b> Caladan</p>
          <p><a href="http://www.dune.cz/encyklopedie/Atreidi"  target="_blank">Encyklopedie Duny</a></p>
      
          
      </td>
      <td>
        <p>Heslem je Atreidů je "O svoje lidi se staráme!" 
        díky tomu získali až fanatickou věrnost svých poddaných. Čest, věrnost a 
        spravedlnost je pro ně každodenním chlebem. Zdrojem bohatství Atreidů jsou
        úrodná moře jejich vodní domovské planety.</p>
        
        <h3>Historický kontext ve hře</h3> 
        Roku 10 160 potlačili povstání suboidů a pomohli usednout rodu Vernio 
        na trůn technologické planety Iks. Nyní se Atridský orel zaměřil na prázdný
        trůn Imperátora.
        
        <h3>Historické kořeny Velkorodu</h3> 
        Patří k nejstarším Velkorodům. Jejich 
        historie šahá až do Řecka ze staré Terry. Jejich historie ze 
        <a href="http://www.dune.cz/encyklopedie/Slu%C5%BEobn%C3%ADcky_d%C5%BEih%C3%A1d">Služebnického džihádu</a>
        je poseta krvavými stopami, současnost je zcela jiná. 
        
        <h3>Nepřátelské rody</h3> 
        Od bitvy o Corrin je jejich úhlavním nepřítelem 
        rod Harkonnen. Mezi další nepřátele patří Velkorod Corrino, jemuž je 
        rostoucí vliv Atreidů trnem v oku.
        
        <h3>Spřátelené rody</h3> 
         Ekaz a Vernio. Mezi spřízněné rody patří i Riches,
        ale diplomatické svazky byly pošpiněny pokusem 
        <a href="http://www.dune.cz/encyklopedie/Helena_Atreidov%C3%A1-Riches">Heleny Riches</a>
        o vraždu jejího manžela vévody
        <a href="http://www.dune.cz/encyklopedie/Paulus_Atreides">Pauluse Atreida</a>.</p>        
        
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Corrino/erb.png' %>)">
          <h2>Corrino</h2>
          <p><b>Vůdce:</b> Padišáh</p>
          <p><b>D. planeta:</b> Salusa Secundus</p>
          <a href="http://www.dune.cz/encyklopedie/Corrino"  target="_blank">Encyklopedie Duny</a>
          
      </td>
      <td>
        <p>Byl nejdéle vládnoucím rodem v Impériu. Jsou známi svou zbrklostí a 
        pomstychtivostí. Jejich hlavní silou jsou věrní sardaukaři.</p>

        <h3>Historický kontext ve hře</h3>
        Po vymření hlavní rodové linie
        roku 10 156, se poslední Corrino přesunuli na jejich původní domovskou 
        planetu Salusu Secundus. Odtud se vedlejší linie rodu Corrino
        pokoušejí znovu získat Imperiální trůn. </p>
        
        <h3>Historické kořeny Velkorodu</h3> 
        Šahají až ke Služebnickému džihádu a Lize vznešených. Dříve byli v historii 
        známi jako rod Služebníků. Současné jméno rodu pochází z místa poslední 
        bitvy s myslícími stroji, nyní pusté 
        <a href="http://www.dune.cz/encyklopedie/Bitka_o_Corrin">planety Corrin</a>.</p>
        
        <h3>Nepřátelské rody</h3> 
        Atreides díky jejich rostoucímu politickému vlivu. Dále také Ekaz z jehož pocházela 
        jedna z manželek 
        <a href="http://www.dune.cz/encyklopedie/Elrood_IX.">Elroodem IX.</a>, 
        která záhadně zmizela. Následný neuvážený sňatek Imperátora značně pobouřil 
        rod Ekaz.
        Mezi nepřátele patřil i Velkorod Vernio.
        
        <h3>Spřátelené rody</h3>
        Mezi přátelštější rody lze počítat Harkonneny, s nimiž tajně spolupracovali 
        proti Atreidům. Dříve měli dobré svazky s rodem Morritani. Přímé spojence 
        ale Corrino nikdy neměl.
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Ekaz/erb.png' %>)">
          <h2>Ekaz</h2>
          <p><b>Vůdce:</b> Arcivévoda</p>
          <p><b>Domovská planeta:</b> Ekaz</p>
          <p><a href="http://www.dune.cz/encyklopedie/Rod_Ekaz"  target="_blank">Encyklopedie Duny</a></p>
          
      </td>
      <td>
          <p>Ekazané jsou v celém Impériu známi jako vynikající umělci, producenty
          různých vzácných dřevin a rostlin z jejich lesnaté domovské planety. 
          Jsou ale známi také jako producenti drog veriteny či semúty. </p>
          
          <h3>Historický kontext ve hře</h3>
          Po vymření hlavní linie Corrino patří ekazani mezi možné následníky 
          Impéria. Problémem je ale doutnající spor s rodem Morritani. 
          
          <h3>Historické kořeny Velkorodu</h3> 
          Rod je dlouhodobým správcem planety Ekaz. Byli spojeny sňatkem s 
          <a href="http://www.dune.cz/encyklopedie/Elrood_IX.">Elroodem IX. Corrino</a>. 
          <a href="http://www.dune.cz/encyklopedie/Alexandra">Alexandra Ekaz</a>
          ale v roce 
          10 098 záhadně zmizela a její syn 
          <a href="http://www.dune.cz/encyklopedie/Fafnir_Corrino">Fafnir</a>,
           dědic trůnu byl zavražděn roku 10 138. </p>
          
          <h3>Nepřátelské rody</h3>  
          Dlouhodobým nepřítelem je rod Morritani. A novým nepřítelem je rod Corrino.
          
          <h3>Spřátelené rody</h3> 
          Atreides
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Harkonnen/erb.png' %>)">
          <h2>Harkonnen</h2>
          <p><b>Vůdce:</b> Baron</p>
          <p><b>Dom. planeta:</b> Giedi Prime</p>
          <p><a href="http://www.dune.cz/encyklopedie/Harkonnen" target="_blank">Encyklopedie Duny</a></p>
          
      </td>
      <td>
          <p>Patří mezi nejmocnější rody současnosti. Jsou známi svou krutostí a 
          sklony k násilí. Starostí o své poddané se mnoho nezabývali a považovali
          je spíše za podřadné otroky. Příkladem je jedna z oblíbených zdrojů zábavy,
          lovu lidí či gladiátorské hry s otroky. </p>
          
          <h3>Historický kontext ve hře</h3>
          Po vymření hlavní linie Corrinů Harkonnenové nebaží ani tak po trůnu 
          Imperátora, jako po likvidaci Ateidů a udržení kontroly nad planetou 
          Arrakis.
          
          <h3>Historické kořeny Velkorodu</h3>
          Během Služebnického džihádu kontrolovali 
          planetu Hagal. Při bitvě o 
          <a href="http://www.dune.cz/encyklopedie/Bitka_o_Corrin">Corrin</a>
          jeden předek Harkonnenů svou zbabělostí málem připravil lidstvo o vítězství. 
          Proto byli dávnými Atreidy posláni do vyhnanství. Defacto nepatřili mezi skutečné
          Velkorody. Byli ale dostatečně movití, že si mohli titul v minulosti pořídit.
          
          
          <h3>Nepřátelské rody</h3>  
          Atreidové jsou hlavními nepřáteli Harkonnenů již od 
          <a href="http://www.dune.cz/encyklopedie/Slu%C5%BEobn%C3%ADcky_d%C5%BEih%C3%A1d">Služebnického džihádu</a>. </p>
          
          <h3>Spřátelené rody</h3>
          Riches, který nahradili ve správcovství Arrakis cca roku 10 114. S Corrino 
          je pojí dávní předkové a mnoho špinavých obchodů a činů. Jejich přátelské 
          svazky ale nebyli příliš spolehlivé, ostatně Harkonnenové také ne.
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Moritani/erb.png' %>)">
          <h2>Moritani</h2>
          <p><b>Vůdce:</b> Vikomt</p>
          <p><b>Domovská planeta:</b> Gruman</p>
          <p><a href="http://www.dune.cz/encyklopedie/Rod_Moritani"  target="_blank">Encyklopedie Duny</a></p>
          
      </td>
      <td>
          <p>Morritani jsou známi nízkým prahem dráždivosti, snadno se urazí a 
          touží po krvavé mstě. Své nepřátele napadají nejraději ze zálohy. 
          Pravidla Impéria je mnoho nezajímají, nebojí se ani balancovat na hraně
          <a href="http://www.dune.cz/encyklopedie/Ve%C4%BEk%C3%A1_Konvencia">Velké konvence</a>.
          Přitom o dvě generace dříve patřili mezi čestné Velkorody a měli velmi 
          blízko Imperiálnímu trůnu a v říši byli značně oblíbeni. </p>
          
          <h3>Historický kontext ve hře</h3>
          Doba bezvládí je pro Morritani vynikající možností na vyřešení problému
          se znepřátelenými rody a to vlastním způsobem. 
          
          <h3>Historické kořeny Velkorodu</h3>
          Spravují planetu Grumman, zdroj vikamů. Planeta jim byla přidělena 
          pravděpodobně Corriny po Služebnickém džihádu. Planeta ale během jejich 
          vlády značně zpustla.
          
          <h3>Nepřátelské rody</h3> 
          Dlouhodobými nepřáteli je Velkorod Ekaz. Otevřené boje ale mezi rody 
          ještě nevypukly.
          
          <h3>Spřátelené rody</h3>
          Přátele si vybírají jen tehdy, pokud je to třeba.
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Riches/erb.png' %>)">
          <h2>Riches</h2>
          <p><b>Vůdce:</b> Vévoda</p>
          <p><b>Domovská planeta:</b> Riches</p>
          <p><a href="http://www.dune.cz/encyklopedie/Riches"  target="_blank">Encyklopedie Duny</a></p>
          
      </td>
      <td>
          <p>Richesané patří k technologickým mocnostem v Impériu. Jsou proslaveni
          miniaturizací, tělními implantáty, neurálními obvody a kyborgy. Richesané
          jsou zaměřeni na velkovýrobu. Dokáží v poměrně krátkém čase vyprodukovat 
          velké množství produktů za příznivou cenu. Jelikož patřili k hluboce 
          věřícím národům, které by nikdy neporušili první přikázání 
          <a href="http://www.dune.cz/encyklopedie/Oran%C5%BEsko-katol%C3%ADcka_biblia">Oranžsko-katolické bible</a>
          ohledně myslících strojů - na rozdíl od Iksanů. </p>
          
          <h3>Historický kontext ve hře</h3>
          Po roce 10 114 byly vytlačeny z pozice hlavní ekonomické velmoci Vernii 
          z Iksu. Richesané využili povstání suboidů roku 10 154 
          pro návrat na ekonomické výsluní.
          
          <h3>Historické kořeny Velkorodu</h3>
          V minulosti byl Riches jednou z průmyslových planet Ligy vznešených a 
          i během Služebnického džihádu. Rod tedy nese jméno své domovské planety.
          Patřili k dlouhodobým správcům Arrakis a výrobcům Maxitrajlerů pro 
          Vesmírnou Gildu. 

          <h3>Nepřátelské rody</h3> 
          Vernio, jejich dlouhodobí obchodní rivalové.
         
          <h3>Spřátelené rody</h3> 
          Dobré svazky s rodem Atreides byly pošpiněny pokusem 
          <a href="http://www.dune.cz/encyklopedie/Helena_Atreidov%C3%A1-Riches">Heleny Riches</a>
          o vraždu jejího manžela vévody
          <a href="http://www.dune.cz/encyklopedie/Paulus_Atreides">Pauluse Atreida</a>. 
          Vraždu naplánovali spolu s Harkonneny. Harkonneny ale nelze považovat 
          za spolehlivé spojence.
          
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'budovy/Vernio/erb.png' %>)">
          <h2>Vernio</h2>
          <p><b>Vůdce:</b> Hrabě</p>
          <p><b>Domovská planeta:</b> Iks</p>
          <p><a href=""  target="_blank">Encyklopedie Duny</a></p>
          
      </td>
      <td>        
          <p>Vernio je vládnoucím rodem velice vyspělého technologického 
          společenství na planetě Iks. Jsou známi restaurátorstvím a mnoha
          výrobky (laserpaly, suspenzorové dopravní systémy, luminy či riduliánský 
          křišťálový papír).</p>
          
          <h3>Historický kontext ve hře</h3>
          Roku 10 154 vypuklo na planetě povstání 
          suboidů vyprovokované Tleilaxany za přispění rodu Corrino. Vernio uniklo 
          do exilu a Bene Tleilax ovládl planetu. Po vymření hlavního rodu
          Corrino byla planeta roku 10 157 dobyta zpět.
         
          <h3>Historické kořeny Velkorodu</h3>
          Během džihádu byla planeta dobyta od kymeků Ligou vznešených. Rod Vernio 
          je jednou z vůdčích technokratických rodů, který získal výsostné postavení
          mezi ostatními rody Iksu. Jejich moc je ale omezena dalšími obchodními
          rodinami. 
          <br>Po vleklých obchodních bojích vytlačili Riches z jejích dlouholeté 
          pozice ekonomické velmoci. Iksané se nebáli, na rozdíl od Richesanů, 
          riskovat a zahrávat s prvním přikázáním
          <a href="http://www.dune.cz/encyklopedie/Oran%C5%BEsko-katol%C3%ADcka_biblia">Oranžsko-katolické bible</a>
          o zákazu umělé myslí. To je pravděpodobně vyneslo do popředí před 
          jejich ekonomického rivala. 
                    
          <h3>Nepřátelské rody</h3>
          Corrino, které podporovalo povstání suboidů. Dale rod Riches, který je
          hlavním ekonomickým oponentem.
          
          <h3>Spřátelené rody</h3>
          Atreidové, kteří patří mezi dlouhodobé spojence a obchodní partnery.
      </td>
      
    </tr> 
</table>




