<table class="tab0">
  <tr>
    <td class="drob">
      <%= link_to '⌂', help_path %>
      » <%= link_to 'Výzkum', help_vyzkum_path %>

    </td>

    <%= render :partial => 'index' %>
    
  </tr>
</table>

      
<table class="tab1">
  <tr>        
      <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/narodnisklad.png' %>)">
          <h2>Výzkum hráče a národa</h2>
          
      </td>
      <td>
        <p><b>Hráčův výzkum</b> Vývojem výzkumu získáváte bonusy a nové typy budov. 
        Platidlem za výzkum jsou zkušenosti (expy) produkované v laboratořích.
        Pokud dosáhnete určítého stádia výzkumu, jsou vám otevřou nové typy budovy.</p>
        <p><b>Národní výzkum</b> Stejně jako u výzkumu hráče ziskáváte bonusy do 
        několika odvětví, tentokrát ale v rámci celeho Velkorodu. Národní výzkum 
        ale neotevírá nové budovy.</p>
      
      </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/vyzkum_ekonomika.png' %>)">
          <h2>Ekonomický výkum</h2>
          
      </td>
      <td>
        <p><b>Investice do infrastruktury</b> - -2% cena budov  7. lvl = povolení stavby Velkoměsto 14. lvl = povolení stavby Metropole</p>
        <p><b>Investice do ekonomiky</b> - +2% produkce solárů Trh 7. lvl = povolení stavby Banka 14. lvl = povolení stavby Sídlo CHOAMu</p>
        <p><b>Investice do průmyslu</b> - +2% produkce materiálu 7. lvl = povolení stavby Hlubinný důl 14. lvl = povolení stavby Orbitální doly</p>
        <p><b>Investice do výzkumu</b> - +2% produkce výzkumných bodů 7. lvl = povolení stavby Výzkumné centrum 14. lvl = povolení stavby Univerzita</p>
        <p><b>Investice do koření</b> - +2% produkce melanže na Arrakis 6. lvl = povolení stavby Kasárna na Arakis</p>
        <p><b>Investice do výroby</b> - +2% kapacita továren  7. lvl = povolení stavby Továrna</p>       
       </td>
      
    </tr> <tr>
    <td class="tdpl" style="width:160px; height:140px; background-image: url(<%= asset_path 'imghra/vyzkum_vojensky.png' %>)">
          <h2>Vojenský výzkum</h2>
          
      </td>
      <td>
        <p><b>Investice do armády</b> - </p>
        <p><b>Investice do pěchoty</b> - +2% kapacita kasáren 1. lvl = povolení stavby Kasárna</p>
        <p><b>Investice do flotily</b> - +2% kapacita loděnic 1. lvl = povolení stavby Loděnice 7. lvl = povolení stavby Planetární obrana</p>
        <p><b>Bojová technika</b> - +2% útok pozemních jednotek</p>
        <p><b>Obraná technologie</b> - +2% HP pozemních jednotek </p>
             
       </td>
      
    </tr> 
</table>



