<tr xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" class="opica" data-druh="<%= message.druh if message.druh %>">
  <td><%= link_to message.created_at.localtime, '#', :class => "message" %>

    <% unless message.proctena(current_user) %>
        <div class="precitanaimg"></div>
    <% end %>

  </td>
  <td><%= link_to message.user.nick, message.user, :class => message.user.barvicky, :title => message.user.barvicky %></td>
  <td style="background-image: url(<%= cesta_rod(message.user.house.name, 'dom')%>)!important "><%= link_to message.user.house.name, message.user.house %></td>
  <td><%= link_to message.subject, nil, :title => message.druh_posty, :class => message.farba, :disabled => true %>

    <span class="fright">
  <%= best_in_place message, :opened, :type => :checkbox, :classes => 'precitana' %>
      <%= link_to image_tag('../assets/css/delete.png'), message, :confirm => "Opravdu chcete odstranit zpravu?", :method => :delete, :class => 'delete_post', :remote => true %></span>
  </td>

</tr>
<tr class="postaBody">
  <td colspan="4">
    <%= simple_format(message.body) %>
    <p>
      <%= link_to 'Odpovědět', reply_path(:id => message.id), :class => "reply" %>
    </p>
  </td>
</tr>
