<tr xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" class="opica" data-druh="<%= odeslana.druh if odeslana.druh %>">
  <td><%= link_to odeslana.created_at.localtime, '#', :class => "message" %>


  </td>
  <% if odeslana.recipients%>
  <td><%= link_to odeslana.conversations.first.user.nick, odeslana.conversations.first.user, :title => "#{odeslana.recipients}", :class => odeslana.conversations.first.user.barvicky %></td>
  <% else %>
  <td><span style="color: <%= odeslana.farba %>;"><%= odeslana.druh_posty %></span></td>
  <% end %>

  <td style="background-image: url(<%= cesta_rod(odeslana.conversations.first.user.house.name, 'dom')%>)!important "><%= link_to odeslana.conversations.first.user.house.name, odeslana.conversations.first.user.house %></td>
  <td><%= odeslana.subject %>

    <span class="fright">
     <%= check_box_tag 'message_ids[]', odeslana.id, false, :class => "grey_checkbox"  %>

      <%= link_to image_tag('../assets/css/delete.png'), odeslana, :confirm => "Opravdu chcete odstranit zpravu?", :method => :delete, :class => 'delete_post', :remote => true %></span>
  </td>

</tr>
<tr class="postaBody">
  <td colspan="4">
    <%= simple_format(odeslana.body) %>
    <p>
      <%= link_to 'Odpovedat', reply_path(:id => odeslana.id), :class => "reply" %>
    </p>
  </td>
</tr>
