
<div id="notation"></div>
<table class="tab0">
  <tr>
    <td class="drob">
      <a href="index.htm" title="Home">⌂</a>
      » <a href="/posta/odpovedat">Odpovědět</a>

    <td class="tdd">
      <ul class="menud">
        <li><a title="Filtrováním přenastavíte zobrazená data.">Zrušit a přejít na »</a>
          <ul>
              <li><%= link_to "Doručená pošta [" + current_user.neprocteno_sprav.to_s + "]", messages_path %>
              <li><%= link_to "Odeslaná pošta", odeslana_posta_path %>
              <li><%= link_to "Poslat poštu", new_message_path %>
          </ul>
        </li>
      </ul>
    </td>
    
  </tr>
</table>
<%= render 'form' %>

<%= link_to 'Zpět', messages_path %>