<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @postum.body %>
</p>

<p>
  <b>Subject:</b>
  <%= @postum.subject %>
</p>




<%= link_to 'Edit', edit_postum_path(@postum) %> |
<%= link_to 'Back', posta_path %>
