<%# encoding: utf-8 %>
<% title @syselaad.name %>

  
    <table class="tab0">
      <tr>
        <td>
          <a href="#" title="Home">⌂</a> » <a href="#" title="Syselaad - komunikační fóra">Syselaad</a>
        </td>
        <% if logged_in? %>
        <td class="tdd">
          <%= link_to "  + Přidat nové vlákno ", new_topic_path(:syselaad => @syselaad.id) %>
        </td>
        <% end %>
        
        <td class="tdd">
          <ul class="menud">
            <li><a title="Volbou vstoupíte do jiného Syselaadu.">Změnit Syselaad »</a>
              <ul>
                <li class="filterPosta"><%= link_to "Národní", syselaad_path(:kind => 'N') %></li>
                <li class="filterPosta"><%= link_to "Mezinárodní", syselaad_path(:kind => 'E') %></li>
              <% if current_user.landsraad? || current_user.admin? %>
                <li class="filterPosta"><%= link_to "Landsraadní", syselaad_path(:kind => 'L') %></li>
              <% end %>
                <li class="filterPosta"><%= link_to "Systémový", syselaad_path(:kind => 'S') %>
                
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      
    </table>
  

<table class="tab3">
  <tr>
    <th width="50%" height="25px"> Téma vlákna Syselaadu </th>
    <th width="10%"> Odpovědí </th>
    <th width="40%"> Poslední příspěvek </th>
  </tr>
  <% for topic in @topics %>
      <tr>
        <td>
        <% if admin? %>
            <%= link_to image_tag('../assets/css/delete.png'), topic, :confirm => 'Opravdu chcete smazat toto vlákno?', :class => 'delete_post', :method => :delete %>
        <% end %>
        <%= link_to h(topic.name), topic_path(topic.id) %>
        <td><%= topic.posts.count - 1 %></td>
        <td class="right"><%= distance_of_time_in_words_to_now topic.last_post_at %> ago
          by <%= link_to topic.last_poster.nick, "/users/#{topic.last_poster_id}", :class => topic.last_poster.barvicky, :title => topic.last_poster.barvicky %></td>
        
      </tr>
  <% end %>
  </table>
  
  <table class="tab0">
      <tr>
        <td>
        </td>
        <td>
          <%= paginate @topics %>
        </td>
      </tr>
  </table>

</br>
