<% title @syselaad.name  %>
<table class="tab3"> 
	<tr>
		<th width="50%">Téma vlákna Syselaadu</th>
		<th width="10%">Odpovědí</th>
		<th width="40%">Poslední příspěvek</th>
	</tr>
	<% for topic in @syselaad.topics %>
	<tr>
		<td><%= link_to h(topic.name), topic_path(topic.id) %> <td><%= topic.posts.count - 1%></td>
		<td class="right"><%= distance_of_time_in_words_to_now topic.last_post_at %> ago by <%= link_to topic.user.username, "/users/#{topic.last_poster_id}" %></td>
		<% if admin? %><td><%= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete %></td><% end %>
	</tr>
	<% end %>
</table>
</br>
<p>
	<% if logged_in? %><%= link_to "Založit nové vlákno tohoto Syselaadu", "/topics/new?syselaad=#{@syselaad.id}" %><% end %>
</p>
