		<td>			<h3>Produkce na Arrakis</h3>			<li>				<%= img_melanz "Produkce melanže" %> <%= format_mena(@melange, 'mg') %>			</li>
			<h3>Odvod Vesmirne Gilde</h3>			<li>				<%= img_melanz "Odvod Vesmirne Gilde" %> <%= format_mena(@gilde, 'mg') %>			</li>
			<h3>Zisk z prodeje</h3>			<li>				<%= img_solary "Solary" %> +10000			</li> 
			<h3>Stav skladu</h3>			<li><%= img_solary "Solary" %> <%= format_mena(@imperium.solar, 'S') %></li>			<li><%= img_melanz "Melanž" %> <%= format_mena(@imperium.melange, 'mg') %></li>		</td>