<%# encoding: utf-8 %>

<table class="tab0">

  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to 'Přehled Imperia', imperium_path %> 
    </td>
    <% if can? :sprava, Imperium %>            
        <td class="tdd">
          <%= link_to ' Sprava Impéria »', sprava_imperia_path %>
        </td>
    <% end %>
    <% if current_user.landsraad? || current_user.admin? %>
      <td class="tdd">
        <%= link_to ' Jednání Landsraadu »', landsraad_jednani_path %>
      </td>
    <% end %>
    </td>          
                
  </tr>



</table>



<% title @title %>

<table class="tab1">
  <tr>  
    <%= render :partial => 'dvur' %>
    <%= render :partial => 'melange_flow' %>          
  </tr>
</table>


    

    






