<%# encoding: utf-8 %>
<% title @title %>

<table class="tab0">
  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to 'Přehled Imperia', imperium_path %> »
      <a href="#">Správa Impéria</a>
    </td>
  </tr>  
</table>

<table class="tab1">
  <tr>  
    <%= render :partial => 'dvur' %>
    <%= render :partial => 'melange_flow' %>          
  </tr>
</table>

<% if can? :sprava, Imperium %>

      <!-- SPRAVA IMPERIALNIHO SKLADU -->
      
      <%= form_tag :posli_imperialni_suroviny do %>
      
      <table class="tab1">
        <tr>
           <td class="tdpl" rowspan="2" style="padding: 10px; width:170px; background-image: url(<%= asset_path 'imghra/dvur_v.png' %>) !important; background-position: top !important">
            <li>
              <h2>Imperiální sklad</h2>
            <li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <%= submit_tag 'Potvrdit', :name => 'potvrdit', :class => 'ok' %>
           </td>
            <th>Stav skladů</th>
            <th style="width:100px">Zaslat Velkorodům</th>
            <th style="width:100px">Zaslat hráči</th>
            <th style="width:100px">CHOAM [%]</th>
        </tr><tr>
        
          <td>
          <li><%= img_solary "Solary" %> <%= format_mena(@imperium.solar, 'S') %><li>
          <li><%= img_material "Materiála" %> <%= format_mena(@imperium.material, 'kg') %></li>
          <li><%= img_melanz "Koření" %> <%= format_mena(@imperium.melange, 'mg') %><li>
          
          </td>
        
          <td>
            <li><%= img_solary %><%= text_field_tag 'rodu_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
            <li><%= img_material %><%= text_field_tag 'rodu_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
            <li><%= img_melanz %><%= text_field_tag 'rodu_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
            
            <li><%= select_tag :rod_id_suroviny, options_for_select(House.playable.order(:name).all.collect { |p| [p.name, p.id] }), :class => "tab", :style => "margin-left: 0px !important; width:96px !important", :include_blank => true %></li>
          </td>
          
          <td
          <li><%= img_solary %><%= text_field_tag 'user_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
                <li><%= img_material %><%= text_field_tag 'user_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
                <li><%= img_melanz %><%= text_field_tag 'user_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
                
      <!-- Prosím o dokončení posílání členům dvora !!!
      
                <li><%= select_tag :rod_id_suroviny, options_for_select(House.playable.order(:name).all.collect { |p| [p.name, p.id] }), :class => "tab", :style => "margin-left: 0px !important; width:96px !important", :include_blank => true %></li>
                
      --->
      
          </td>
          
          <td>
             <% for house in @houses do %>
                  
                    <span title="<%= house.name %>"><%= obrazek_budovy(house.name, 'erb') %></span>
                    <%= best_in_place house, :melange_percent, :type => :input %>
                  
              <% end %>
              
          </td>
                    
</table>

<% end %>

<% if current_user.emperor? || current_user.admin? %> 
  <table class="tab1">
 
    <tr>
      <td class="tdpl" rowspan="3" style="width: 270px !important; background-image: url(<%= asset_path 'imghra/dvur_v.png' %>) !important; Background-position: top !important;" >
        <li><h2>Imperiální dvůr</h2>
        Zde vyberete vaše zástupce, nebo členy dvora. Členům dvora poté můžete zasílat obnosy z Imperiálního skladu. Je tedy vhodné mezi ně přidat i správce pololéna.
      </td>
      <th style="width:120px">Členové dvora</th>
      <th style="width:120px">Vezíři</th>
      <th style="width:120px">Místodržící</th>
    </tr>
<% if current_user.emperor? || current_user.admin? %>     
    <tr>
      <td>

        <% for user in @courtship do %>
          <li>
            <%= link_to user.nick, user, :class => 'Dvur' %>
            <% if current_user.emperor? %>
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "Court" %>
            <% end %>
          </li>
        <% end %>

      </td>
      <td>
      <% for user in @veziri do %>
          <li>
            <%= link_to user.nick, user, :class => 'Regent' %>
            
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "Vezir" %>
            <% end %>
          </li>
        <% end %>

      </td>
      <td>
      </td>
    </tr>
<% end %>    
<% if current_user.emperor? || current_user.admin? %>     
    <tr>
      <td>

        <%= form_tag :pridel_pravo do %>
              <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) , :style => "margin-left: 0px !important; width:120px !important"  %>
                <li><%= submit_tag 'Dvořan', :class => 'ok6'  %>
        <% end %>  
      </td>
      <td>

        <%= form_tag :pridel_pravo do %>
                <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) , :style => "margin-left: 0px !important; width:120px !important" %>
                <li><%= submit_tag 'Vezír', :class => 'ok6' %>
        <% end %>

      </td>
      <td>
      </td>
    </tr>
 
   
  </table>
    <% end %>     <% end %> 
 
  
<%= render :partial => 'imperium_operace' %>


