<%# encoding: utf-8 %>
<% title @title %>

<table class="tab0">

  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to 'Přehled Imperia', imperium_path %> »
      <a href="#">Správa Impéria</a>
    </td>
  </tr>

</table>

<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="2" style="padding: 10px; width:270px; background-image: url(<%= asset_path 'imghra/arrakis.png' %>) !important">
      <li>
        <h2>Kontrola koření</h2>
      <li>
        <% if @spravce %>
        <b>Místodržící Arrakisu: </b> <%= link_to @spravce.nick, @spravce if @spravce %>
        <% else %>
        <li><h3>Produkce Arrakisu není kontrolována!</h3>
        <% end %>
      <li>
        <b>Známých planet: </b> <%= Planet.count %>
      <li>
        <b>Občanů Impéria: </b> <%= User.count %>
      <li>
        <b>Celkový vliv: </b> <%= @imperium.influence %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <li>
        <!--<input type="button" value="Potvrdit" class="ok">-->
    </td>
    <th>Přepočet</th>
    <th>Přesun ze skladu</th>
    <th class="r">Podíl [%]</th>
  </tr>
  <tr>
    <%= render :partial => 'melange_flow' %>

    <td>
    <%= form_tag :posli_imperialni_suroviny do %>
          <h3>Poslat Velkorodu</h3>

          <li><%= img_solary %><%= text_field_tag 'rodu_solary', '0.00', :size => "3", :title => "Zadejte množství" %>
          <li><%= img_melanz %><%= text_field_tag 'rodu_melanz', '0.00', :size => "3", :title => "Zadejte množství" %>
          <li><%= select_tag :rod_id_suroviny, options_for_select(House.playable.order(:name).all.collect { |p| [p.name, p.id] }), :class => "tab", :include_blank => true %>
            

            <br/>
            <!-- <h3>Prodej na trhu</h3>
			<li><%= img_melanz "Množství melanže na trhu." %> 1000</li> 
			<li>
				<%= img_solary "Prodejní cena melanže" %>
				<input type="text" size="2" title="Zadejte prodejní cenu" style="width:25px">
			</li>
			<br />-->
			<li><%= submit_tag 'Potvrdit', :name => 'potvrdit', :class => 'ok' %>
      <% end %>
    </td>

    <td>
      <% for house in @houses do %>
          <li>
            <span title="<%= house.name %>"><%= obrazek_budovy(house.name, 'erb') %></span>
            <%= best_in_place house, :melange_percent, :type => :input %>
          </li>
      <% end %>
      
    </td>

  </tr>
</table>






<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="2" style="width: 270px !important; background-image: url(<%= asset_path 'imghra/dvur_v.png' %>) !important; Background-position: top !important;">
      <li><h2>Imperiální dvůr</h2>
      <% if @imperator %>
        <li><b>Imperátor: </b> <%= link_to @imperator.nick, @imperator if @imperator %>
        <li><b>Velkorod:</b> <%= @imperator.house.name %> 
        <li>
        <li>Imperátor z planety Kaitan chrání naše Impérium. Konroluje produkci melanže a drží vzdorné Velkorody na uzdě.
        Vezíři pracují jako zástupci jeho vznešenosti a lidé, keří se stali dvořany, získali v Impériu značný vliv. 
        <li>Imperátorovou jedinnou kontrolou je vznešený Landsraad a jeho zákony. 
      <% else %>
        <li><h3>Regentská vláda</h3>
        <li>Během regentské vlády jsou možnosti Impéria značně omezeny. 
        Úkolem říšských regentů je držet produkci melanže a udržet srávný chod Impéria, 
        než bude zvolen právoplatný vůdce.
      <% end %> 
    </td>

    <th>Vezíři</th>

    <th class="r">Členové dvora</th>
  </tr>

  <tr>
    <td>
        <% for user in @veziri do %>
          <li>
            <%= link_to user.nick, user, :class => 'vezir' %>
            <% if current_user.emperor? %>
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "Vezir" %>
            <% end %>
          </li>
        <% end %>
        
        <% if current_user.emperor? %>
          <li>
              <%= form_tag :pridel_pravo do %>
                <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) %>
                <%= submit_tag 'Vezír' %>
            <% end %>
          </li>
      <% end %>
    </td>
    
    <td>
        <% for user in @courtship do %>
          <li>
            <%= link_to user.nick, user, :class => 'court' %>
            <% if current_user.emperor? %>
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "Court" %>
            <% end %>
          </li>
        <% end %>
        
        <% if current_user.emperor? %>
          <li>
            <%= form_tag :pridel_pravo do %>
                <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) %>
                <%= submit_tag 'Dvořan' %>
            <% end %>
        <% end %>  
            
    </td>

  </tr>

</table>

<%= render :partial => 'imperium_operace' %>
