<tr>
	<td><%= link_to user.nick, user %></td>
	<td><a href="stat-databaze-narod.htm">Eseland *</a></td>
	<td>5%</td>
	<td>11111</td>
	<td>11111</td>
	<td><%= user.influence %></td>
	<td><%= user.fields.count %></td>
	<td>
		<a><%= img_posta "Napsat hráči" %> *</a>
		<a><%= img_utok "Zautočit na hráče" %> *</a>
	</td>
</tr>
