<tr>


  <td><%= market.show_area %></td>


  <td><%= market.price %></td>
  <td><%= market.amount %></td>


  <td>


    <%= form_tag buy_path(:market => market.id, :who => "H") do %>

        <%= number_field_tag(:q, nil, :min => 1, :title => "Zadejte množství") %> </td>
        <td><%= submit_tag 'KOUPIT', :class => "ok" %></td>

    <% end %>


    </td>

    </tr>



