<%# encoding: utf-8 %>
<% title "Databáze národů" %>

<table class="tab0">
  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to "Imperiální databáze národů", houses_path %>
    </td>

    <%= render :partial => 'layouts/change_house' %>

    <%= render :partial => 'layouts/filter_database' %>
  </tr>
</table>

<table class="tab1">
  <tr>
    <th class="none"></th>
    <th class="l">Vůdce národa</th>
    <th>Vrcholní politici</th>
    <th class="r">Poslanci</th>
  </tr>
  <% for house in @houses do %>
      <tr>
        <td class="tdpl" style="background-image: url(<%= asset_path cesta_budovy(house.name, "erb") %>)">
          <li><h2><%= house.name %></h2>
          <li><b>Vůdce: </b> <%= house.leader %>
          <li><b>Vliv: </b> <%= house.influence %>
          <li><b>Domovská pl.: </b> <%= Planet.domovska_rodu(house).first.name %>
          <li><b>Počet lén: </b> <%= house.fields.count %>
          <li><b>Dominantních sektorů: </b> 5 (neni)
          <li><b>Počet členů: </b><%= house.users.count %>
          <li><b>Projekt: </b> 50% (neni)
          <li><input type="button" value="Národní útok" class="ok3">
            <input type="button" value="Diplomatická pošta" class="ok3">
        </td>

        <td style="text-align: center !important">
          <%= link_to house.vudce.nick, house.vudce, :class => "leader" if house.vudce %>
        </td>
        <td>
          <% for user in house.mentate do %>
              <li><%= link_to user.nick, user, :class => "mentat" %></li>
          <% end %>
          <% for user in house.army_mentate do %>
              <li><%= link_to user.nick, user, :class => "army_mentat" %></li>
          <% end %>
          <% for user in house.diplomate do %>
              <li><%= link_to user.nick, user, :class => "diplomat" %></li>
          <% end %>
        </td>
        <td>
          <% for user in house.poslanci do %>
              <li><%= link_to user.nick, user, :class => "poslanec" %></li>
          <% end %>
        </td>

      </tr>
  <% end %>
</table>
