<% title "Houses" %>

<table>
  <tr>
    <th>Name</th>
    <th>Solar</th>
    <th>Melange</th>
    <th>Material</th>
    <th>Exp</th>
  </tr>
  <% for house in @houses %>
    <tr>
      <td><%= house.name %></td>
      <td><%= house.solar %></td>
      <td><%= house.melange %></td>
      <td><%= house.material %></td>
      <td><%= house.exp %></td>
      <td><%= link_to "Show", house %></td>
    </tr>
  <% end %>
</table>

