<%# encoding: utf-8 %>
<% title "Správa velkorodu #{@house.name}" %>
<table class="tab1">
  <%= form_tag :posli_rodove_suroviny do %>
      <tr>
        <td class="tdpl" rowspan="2" style="width:160px; background-image: url(<%= asset_path 'imghra/narodnisklad.png' %>)">
          <li><h2>Národní sklad</h2></li>
          <li><b>Národ: </b><%= @house.name %></li>
          <li><b>Vliv: </b><%= @house.vliv %></li>
          <li><b>Planet: </b><%= @house.pocet_planet %></li>
          <li><b>Občanů: </b><%= @house.users.count %></li>
          <br/><br/>
          <li><%= submit_tag 'Poslat', :name => 'poslat', :class => 'ok' %></li>
        </td>

        <th style="width:120px">Stav skladu</th>
        <th style="width:120px">Zaslat hráči</th>
        <th style="width:120px">Zaslat Malorodu</th>
        <th class="r">Zaslat Velkorodu</th>
      </tr>

      <tr>
        <td>
          <li><%= img_solary %><%= format_mena(@house.solar, 'S', true) %></li>
          <li><%= img_material %><%= format_mena(@house.material, 'kg') %></li>
          <li><%= img_melanz %><%= format_mena(@house.melange, 'mg') %></li>
          <li><%= img_zkusenosti %><%= format_mena(@house.exp, 'exp', false) %></li>
          <!--<li> img_populace('Celkova populace') %> format_mena(@house.celkova_populace, 'k', false) </li>-->
          <li><%= img_vyrobky('Celkovo dilu') %><%= format_mena(@house.parts, 'ks', true) %></li>
        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'user_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'user_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'user_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'user_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= img_vyrobky %><%= text_field_tag 'user_parts', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= select_tag :user_id_suroviny, options_for_select(@house.users.order(:nick).all.collect { |p| [p.nick, p.id] }), :class => "tab", :include_blank => true %> </li>
        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'mr_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'mr_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'mr_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'mr_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= img_vyrobky %><%= text_field_tag 'mr_parts', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= select_tag :mr_id_suroviny, options_for_select(@house.subhouses.order(:name).all.collect { |p| [p.name, p.id] }), :class => "tab", :include_blank => true %> </li>


        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'rodu_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'rodu_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'rodu_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'rodu_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_vyrobky %><%= text_field_tag 'rodu_parts', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= select_tag :rod_id_suroviny, options_for_select(House.without_house(@house.id).without_house(1).without_house(3).order(:name).all.collect { |p| [p.name, p.id] }), :class => "tab", :include_blank => true %></li>
        </td>
      </tr>
  <% end %>
</table>
<% if @productions.count != 0 %>
    <table class="tab1">
      <tr>
        <th></th>
        <th>Produkt</th>
        <th>Mnozstvo</th>
      </tr>
      <% @productions.each do |productions| %>
          <tr>
            <td></td>
            <td><%= productions.product.title %></td>
            <td><%= productions.amount %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<% if @markets.count != 0 %>
    <table class="vyroba">
      <tr>
                <td class="tdpl" rowspan="99" style="width:140px; background-image: url(<%= asset_path 'imghra/market_sell.png' %>)">
                    <li><h2>Nákup na trhu</h2></li>

                </td>
               <th>Komodita</th>


        <th>Cena za kus [Sol]</th>
        <th>Množství</th>
        <th class="r" style="width:50px">Nákup</th>
      </tr>

      <%= render :partial => "market", :collection => @markets %>

    </table>
<% end %>

<table class="tab1">
  <tr>
    <%= form_for(@market) do |f| %>
    <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/market_sell.png' %>)">
              <li><h2>Prodej na trhu</h2></li>
              <li><%= submit_tag 'Nabídnout', :class => "ok" %>
    </td>

    <th>Komodita</th>
    <th>Cena za kus [Sol]</th>
    <th>Množství</th>
  </tr>
  <tr>  
        <td>
          <%= hidden_field_tag 'sent_from', 'H' %>
          <%= f.select :area, options_for_select(@house.for_sale), :name => "Vyberte komoditu k prodeji", :title => "Vyberte komoditu k prodeji", :class => "vyber" %>

        </td>
        <td><%= f.number_field :price, :required => true, :min => 1, :size => 3, :title => "Zadejte cenu" %></td>

        <td><%= f.number_field :amount, :required => true, :min => 0.1, :step => "any", :size => 3, :title => "Zadejte množství", :step => "any" %></td>
        
      </tr>
  <% end %>
</table>

<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="4" style="width:170px; background-image: url(<%= asset_path 'imghra/landsraad_v.png' %>)">
      <li><h2>Národní byrokracie</h2>
    </td>
    <th class="l">Vůdce národa</th>
    <th>Mentat</th>
    <th class="r">Vojenský mentat</th>

  </tr>
  <tr>

    <td>
      <%= link_to @vudce.nick, @vudce if @vudce %>
    </td>

    <td>
      <% if can? :pridel_pravo, User %>
          <li>
            <%= form_tag :pridel_pravo do %>
                <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) %>
                <%= submit_tag 'Mentat', :class => 'oktab_auto' %>
            <% end %>
          </li>
      <% end %>
      <li><h3>Držitelé práv</h3>
        <% for user in @mentate do %>
          <li>
            <%= link_to user.nick, user, :class => "mentat" %>
            <% if can? :odeber_pravo, User %>
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "Mentat" %>
            <% end %>
          </li>
      <% end %>
    </td>

    <td>
      <% if can? :pridel_pravo, User %>
          <li>
            <%= form_tag :pridel_pravo do %>
                <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) %>
                <%= submit_tag 'ArmyMentat', :class => 'oktab_auto' %>
            <% end %>
          </li>
      <% end %>
      <li><h3>Držitelé práv</h3>
        <% for user in @army_mentate do %>
          <li>
            <%= link_to user.nick, user, :class => "army_mentat" %>
            <% if can? :odeber_pravo, User %>
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "ArmyMentat" %>
            <% end %>
          </li>
      <% end %>

    </td>


  </tr>
  <tr>
    <th class="l">Diplomat</th>
    <th>Generál</th>
    <th class="l">Poslanec</th>


  </tr>


  <tr>
    <td>
      <% if can? :pridel_pravo, User %>
          <li>
            <%= form_tag :pridel_pravo do %>
                <%= select_tag :user_id, options_for_select(@hraci.collect { |p| [p.nick, p.id] }, {:include_blank => false}) %>
                <%= submit_tag 'Diplomat', :class => 'oktab_auto' %>
            <% end %>
          </li>
      <% end %>
      <li><h3>Držitelé práv</h3>
        <% for user in @diplomate do %>
          <li>
            <%= link_to user.nick, user, :class => "diplomat" %>
            <% if can? :odeber_pravo, User %>
                <%= link_to img_cancel_s, :controller => :users, :action => :odeber_pravo, :user_id => user, :pravo => "Diplomat" %>
            <% end %>
          </li>
      <% end %>
    </td>

    <td>
      <% for user in @generalove do %>
          <li><%= link_to user.nick, user, :class => "general" %></li>
      <% end %>
    </td>
    <td>
      <% for user in @poslanci do %>
          <li><%= link_to user.nick, user, :class => "poslanec" %></li>
      <% end %>
    </td>

  </tr>
</table>
<% if @ziadosti.count > 0 %>
    <table class="tab1">
      <tr>
        <th>Meno Ziadatela</th>

      </tr>
      <% @ziadosti.each do |ziadost| %>
          <tr>
            <td><%= link_to ziadost.nick, user_path(ziadost) %></td>
            <td><%= button_to("Prijmout", prijmi_hrace_url(:id => ziadost.id), :confirm => "Jste si jist Pane?") %></td>
          </tr>
      <% end %>
    </table>
<% end %>
<table class="tab1">
  <tr>
    <td rowspan="2" style="padding: 0 10px 10px 10px; width:270px; background-image: url(<%= asset_path 'imghra/kolonizace.png' %>) !important">

      <h2>Kolonizace nové planety</h2>

      <li> Objevení a následná kolonizace planety vhodné pro život je velmi náročná a drahá akce.</li>
      <li>Vyžaduje si nasazení kvalitních navigátoru Vesmírné Gildy, kteří prozkoumají neznámé sektory.</li>
      <li>Musíte být ale napozoru, kolonizace může být neúspěšná.</li>
      <br/><br/>
      <li><%= link_to "Přejít do kolonizace nové planety", kolonizuj_path, :style => "text-align:right" %></li>
      <br/>

    </td>
  </tr>
</table>

<table class="tab1">
  <tr>
    <th colspan="2">Prehled poslednich akci malorodu</th>
    <th><%= link_to 'Všechny akce', operations_path(:jake => 'malorod') %></th>
  </tr>
  <tr>
    <th>Obsah akce</th>
    <th style="width:80px">Datum</th>
    <th style="width:80px">Čas</th>
  </tr>
  <% for operation in @operations %>
      <tr>
        <td><%= operation.content %></td>
        <td><%= format_date(operation.date) %></td>
        <td><%= format_time(operation.time) %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="3"><%= link_to 'Zobrazit všechny proběhlé akce', operations_path(:jake => 'narod') %></td>
  </tr>
</table>

