<%= form_for @topic do |f| %>
    <%= f.error_messages %>
    <% if params[:syselaad] %><input type="hidden" id="topic_syselaad_id" name="topic[syselaad_id]" value="<%= params[:syselaad] %>" />
    <% end %>
     
      <table class="tab3">
        <tr>
          <th>
            <%= f.submit " ZALOŽIT ", :class => "ok4" %>
            <!-- <%= f.label :name %> -->
            <%= f.text_field :name, :placeholder => "Název vlákna", :class => "i_predmet" %>
          </th>
        </tr>
        <tr>
          <td>
            <textarea class ="text_area"; name="post[content]" cols="80" rows="20" > <%= @post.content %> </textarea>
          </td>
        </tr>
      </table>
<% end %>