<% title @topic.name %>

<table class="tab0">
  <tr>
    <td class="drob">
      <a href="#" title="Home">⌂</a>
      » <%= link_to @topic.syselaad.name, syselaad_path(@topic.syselaad_id) %>
      » <%= link_to @topic.name, '#' %></a>
    </td>
    <% if admin? %>
      <td class="tdd">
        <%= link_to "Smazat vlákno", @topic, :confirm => 'Opravdu chcete smazat toto vlákno?', :method => :delete %>
      </td>
    <% end %>
    <% if logged_in? %>
      <td class="tdd" style="width:55px !important">
        <%= link_to " ODPOVĚDĚT ", "#{new_post_path}?topic=#{@topic.id}" %>
      </td>
    <% end %>
    <!-- <td class="tdd">
      <%= link_to " Zpět ", syselaad_path(@topic.syselaad_id) %>
    </td> -->


  </tr>
</table>

<table class="tab3" style="height:18px;">
  <% for post in @posts %>
    <tr>
        <td class="tdpl" style="padding: 0px !important; width:100px !important; background-image: url(<%= cesta_rod(post.user.house.name, "dom") %>) !important; background-repeat: repeat;">
        <div class="poster" ><b><%= link_to post.user.nick, user_url(post.user) %></b>
        <br><%= format_date_time post.created_at %>
        <% if logged_in? %> 
            <% if admin_or_owner?(post.user.id) %>
                <br><%= link_to  "Editovat", edit_post_path(post) %> |
                <%= link_to "Smazat", post, :confirm => 'Opravdu smazat příspěvek?', :method => :delete %>
              <% end %>
          <% end %>
          </div>
          
          
        </td>

  
        <td class="forum">
          <%= simple_format(post.content) %>
        </td>
  </tr>
  
  <% end %>
  <tr>
  <%= paginate @posts %>
  </tr>
  
</table>
