<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.number_field :unit_id %>
  </div>
  <div class="field">
    <%= f.label :durability %><br />
    <%= f.number_field :durability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
