<div class="udalost content">
  <div class="row udalost_list">
    <ul>
      <li>
        <%= link_to environment.property.name, udalost_path(:id => environment.id, :typ => "P") %>
      </li>

      <li>
        <%= link_to environment.planet.name, planet_path(environment.planet) %>
      </li>

      <li>
        Dní do ukončení události : <%= environment.duration + 1 %>
      </li>
    </ul>
    <% if current_user.admin? || current_user.leader? || current_user.mentat? %>
    <span style="float: right;">
    <%= form_tag oprava_katastrofy_path(:id => environment.id, :typ => "P"), :class => "inline_list" do %>

        <%= button_to environment.price.to_s + " S", oprava_katastrofy_path(:id => environment.id, :typ => "P"), data: { confirm: "Jste si jist?" }  %>
    <% end %>
    <% end %>
    </span>
  </div>

</div>