<% title "User" %>
    <table class="tab0">

		<tr>
			<td>
				<a href="index.htm" title="Home">⌂*</a> » 
				<a href="stat-databaze.htm">Imperiální databáze *</a> » 
				<a href="stat-databaze-profil.htm">Profily *</a>
			</td>

			<%= render :partial => 'layouts/filter_database' %>

		</tr>

	</table>
	
	<div class="all">
	
	<table class="tab0">
		<tr>
			<th class="m" colspan="3">
				<% if @user == current_user %>
					<h2><%= best_in_place @user, :nick %></h2>
				<% else %>
					<h2><%= @user.nick %></h2>
              	<% end %>
				
			</th>
			
			<td style="text-align:right;">
				<input class="tab3_input" type="text" name="adresat" size="25" title="Adresát" style="background-image: url(<%= asset_path 'css/adresat.png' %>)">
				<input type="button" value="Hledat profil" title="Hledat profil" class="ok4" >
			</td>		
		</tr>
    
    
      
		<tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Poslední aktivita: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.active %>  </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Aktivace účtu: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= format_date @user.created_at %>  </td>
    </tr>   
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Národ: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= link_to @user.house.name, @user.house %> ( <%= @user.najdi_hodnosti %> )  </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Diplomacie s národem:  </td>
      <td style="text-align:right; vertical-align: top;>
              </td>
    </tr> 
    
        <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Malorod: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= link_to @user.house.name, @user.house %>   </td>
    </tr> 
    
        <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Vliv hráče: : </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.influence %>   </td>
    </tr> 
    
        <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Počet hráčovích lén:  </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.fields.count %>   </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Mocnost: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;   </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Útok: <br><br></td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<a href="#">Možno *</a>   </td>
    </tr> 

<% if @user == current_user %>
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Webové stránky:: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;&nbsp;<%= best_in_place @user, :web %>    </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					ICQ: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;&nbsp;<%= best_in_place @user, :icq %>   </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					gTalk/jabber: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= best_in_place @user, :gtalk %>   </td>
    </tr>
     
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Skype: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= best_in_place @user, :skype %>   </td>
    </tr>
     
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					gTalk/jabber: <br><br></td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= best_in_place @user, :gtalk %>   </td>
    </tr>
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					O hráči:</td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= best_in_place @user, :presentation %>   </td>
    </tr>

<% else %>

    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Webové stránky:: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.web %>    </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					ICQ: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;&nbsp;<%= @user.icq %>   </td>
    </tr> 
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					gTalk/jabber: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.gtalk %>   </td>
    </tr>
     
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					Skype: </td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.skype %>   </td>
    </tr>
     
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					gTalk/jabber: <br><br></td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.gtalk %>   </td>
    </tr>
    
    <tr>	
			<td style="text-align:right; vertical-align: top; width:150px;font-weight: bold; color: #ffdb30">
					O vás:</td>
      <td style="text-align:right; vertical-align: top;>
           &nbsp;<%= @user.presentation %>   </td>
    </tr>

					<% end %>
			</td>
				
			</td>
		</tr>
	</table>
	
</div>
	