<% title "#{@user.nick} - sprava" %>
      <table class="tab1">
      	<%= form_tag :posli_suroviny do %>
		<tr>	
			<td class="tdpl" rowspan="2" style="width:170px; background-image: url(<%= asset_path 'imghra/hracsklad.png' %>">
				<li><h2>Sklad hráče</h2>
				<li><b>Vliv: </b><%= @user.influence %>
				<li><b>Planet: </b><%= @planets.count %>
				<li><b>Poli: </b><%= @user.fields.count %>
				<br><br><br>
				<li>	<%= submit_tag 'Poslat zvolené', :name => 'poslat', :class => 'ok' %>
			</td>
			<th>Stav skladu</th>
			<!-- <th>Poslat Malorodu</th>
			<th>Daň Malorodu [%]</th> -->
			<th>Poslat Národu</th>
			<th class="r">Projekt [%]</th>
		</tr>
		<tr >
			<td>
				<li><%= img_solary %><%= format_mena(@user.solar, 'S', false) %> 
				<li><%= img_material %><%= format_mena(@user.celkovy_material, 'kg') %>
				<li><%= img_melanz %><%= format_mena(@user.melange, 'mg') %>
				<li><%= img_zkusenosti %><%= format_mena(@user.exp, 'exp', false) %>
			</td>
			<!--<td>
				<li><%= img_solary %><input type="text" size="3" title="Zadejte množství">
				<li><%= img_material %><input type="text" size="3" title="Zadejte množství">		
				<li><%= img_melanz %><input type="text" size="3" title="Zadejte množství"> 
				<li><%= img_zkusenosti %><input type="text" size="3" title="Zadejte množství"> 
			</td>
			<td>
				<li><%= img_solary %><input type="text" size="3" title="Nastavte daň">
				<li><%= img_material %><input type="text" size="3" title="Nastavte daň">		
				<li><%= img_melanz %><input type="text" size="3" title="Nastavte daň"> 
				<li><%= img_zkusenosti %><input type="text" size="3" title="Nastavte daň"> --> 
			</td>
			<td>
				<li><%= img_solary %><%= text_field_tag 'rod_solary', '0.00', :size => "3", :title => "Zadejte množství" %>
				<li><%= img_material %><%= text_field_tag 'rod_material', '0.00', :size => "3", :title => "Zadejte množství" %>	
				<li><%= img_melanz %><%= text_field_tag 'rod_melanz', '0.00', :size => "3", :title => "Zadejte množství" %>
				<li><%= img_zkusenosti %><%= text_field_tag 'rod_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %>
			</td>
			<td>
				<li><%= img_solary %><input type="text" size="3" title="Nastavte odvod">
				<li><%= img_material %><input type="text" size="3" title="Nastavte odvod">		
				<li><%= img_melanz %><input type="text" size="3" title="Nastavte odvod"> 
				<li><%= img_zkusenosti %><input type="text" size="3" title="Nastavte odvod"> 
			</td>
		</tr>
		<% end %>
	</table>
	
	<table class="tab1">
		<tr>	
			<td class="tdpl" rowspan="2" style="width:170px; background-image: url(<%= asset_path 'imghra/landsraad.png' %>">
      <li><h2>Volby</h2>
      </td>
      <!-- <th>Volba Guvernéra</th> -->
			<th>Volba vůdce</th>
			<th>Volba poslance</th>
		</tr>	
    <tr>	
			<!-- <td>
				Nick <input type="text" size="20" Style="width:100px" title="Zadejte důvod" class = "tab" > 
				<h3>Aktuální pořadí</h3>
				<li>Vévoda [12]
				<li>Vévoda [10]
				<li>Vévoda [4]
				<li>Vévoda [2]
				<li>Vévoda [2]
			</td>	 -->
			<td>
				<%= form_tag hlasovat_path(:user_id => @user) do %>
					<%= select_tag("volit_id]", options_for_select(@user.house.users.order(:nick).collect { |p| [p.nick, p.id] })) %><%= submit_tag 'Ξ', :name => 'leader', :class => 'oki'  %>
					<p>Váš hlas: <%= @user.koho_jsem_volil('leader') %></p>
					<h3>Aktuální pořadí</h3>
					  <% for user in @user.house.poradi_hlasu('leader') %>
						<li><%= user[0].nick %> - <%= user[1] %></li>
					  <% end %>
				<% end %>
			</td>	
			<td>
				<%= form_tag hlasovat_path(:user_id => @user) do %>
					<%= select_tag("volit_id]", options_for_select(@user.house.users.order(:nick).collect { |p| [p.nick, p.id] })) %><%= submit_tag 'Ξ', :name => 'poslanec', :class => 'oki'  %>
					<p>Váš hlas: <%= @user.koho_jsem_volil('poslanec') %></p>
					<h3>Aktuální pořadí</h3>
					  <% for user in @user.house.poradi_hlasu('poslanec') %>
						<li><%= user[0].nick %> - <%= user[1] %></li>
					  <% end %>
				<% end %>
			</td>		
		</tr>			
	</table>         
	
	<table class="tab1">
	  <tr>
    	<th>Obsah proběhlé akce</th>
	    <th style="width:80px">Datum</th>
    	<th style="width:80px">Cas</th>
	  </tr>
	  <% for operation in @operations %>
    	<tr>
    	  <td><%= operation.content %></td>
	      <td><%= format_date(operation.date) %></td>
    	  <td><%= format_time(operation.time) %></td>
    	</tr>
  	  <% end %>
    <tr>
	  	<td colspan="3"><%= link_to 'Zobrazit všechny proběhlé akce', operations_path(:jake => 'hrac') %></td>
	  </tr>
  	</table>              

