<div class="tovarna_obrazok">
  <span class="heading"><%= @udalost.name %></span>
  <table class="tab1" style="margin-top: 0px;">
     <tbody>
     <tr>
       <td>
       <%= @udalost.description %>
       </td>
       </tr>
     <tr>
       <td>
      Trvanie : <%= @leno.duration + 1 if @leno %>
       <%= @planet.duration + 1 if @planet %>
       </td>
     </tr>
     </tbody>
  </table>
  <table class="tab1 bottom">
    <tbody>
    <tr>
      <td>

            <ul>
              <% id = @leno if @leno %>
              <% id = @planet if @planet %>
              <li> Poplatok za odstranenie katastrofy</li>
              <%= form_tag oprava_katastrofy_path(:id => id, :typ => @leno ? "L" : "P"), :class => "inline_list" do %>
              <li><%= button_to @leno.price.to_s + " S", oprava_katastrofy_path(:id => @leno.id, :typ => "L") if @leno %></li>
              <li><%= button_to @planet.price.to_s + " S", oprava_katastrofy_path(:id => @planet.id, :typ => "P") if @planet && current_user.leader? %></li>
            </ul>

        <% end %>
      </td>
      <td>
        <%= link_to 'Spat', sprava_path(:id => current_user), :class => "back_right_down" %>
      </td>
    </tr>

    </tbody>
  </table>
</div>