<%# encoding: utf-8 %>
<% title "Planety k osídlení" %>

<table class="tab0">
  <tr>
    <td>

      <a href="#" title="Home">⌂</a> »
      <%= link_to "Imperialní kartografie", systems_path %> »
      <a href="#">Planety k osídlen</a>

    </td>
    <td class="tdd">
      <ul class="menud">
        <li><a title="Filtrováním přenastavíte zobrazená data.">Zobrazit »</a>
          <ul>
            <li><%= link_to "Mapa Impéria", systems_path %>
            <li><%= link_to "Planety k osídlení", planets_path %>
          </ul>
        </li>
      </ul>
    </td>
  </tr>
</table>

<table class="tab1">
  <tr>
    <td class="none" style="width:200px"></td>
    <th class="l">Popis planety</th>
    <th>Ekonomický bonus</th>
    <th class="r">Vojenský bonus</th>
  </tr>
  <% for planeta in @planets do %>
      <% pt = planeta.planet_type %>
      <tr>
        <td class="tdpl" style="background-image: url(<%= asset_path planeta.background %>)">
          <li><h2><%= link_to planeta.name, planeta %></h2>
          <li><%= link_to planeta.system_name, planeta.system %>
          <li><%= planeta.oznaceni %>]
          <li><%= planeta.obsazenost %>

        </td>
        <td>
          <li><b>Typ planety: </b><%= pt.name %>
            <% if planeta.house %>
              <li><b>Objevitele: </b><%= planeta.house.name %>
          <% end %>
          <!--<li><b>Dominantní národ: </b><a href="stat-databaze-narod.htm">Riches (33) *</a>
          <li><b>Další národy:</b> Atreides (12), Corrino (10), Ekaz (7), Harkonnenové (2)-->
          <% for field in planeta.fields.where(:user_id => current_user) do %>
              <br><b>Názvy vašich lén:</b>
              <li><%= link_to field.name, field %>
          <% end %>
              
        </td>
        <td>
          <li><%= img_solary "Bonus soláry" %>
            <font class="<%= trida_barvy(pt.solar_bonus) %>"><%= format_mena(pt.solar_bonus, "%") %></font>
          <li><%= img_material "Bonus materiál" %>
            <font class="<%= trida_barvy(pt.material_bonus) %>"><%= format_mena(pt.material_bonus, "%") %></font>
          <li><%= img_populace "Bonus populace" %>
            <font class="<%= trida_barvy(pt.population_bonus) %>"><%= format_mena(pt.population_bonus, "%") %></font>
          <li><%= img_zkusenosti "Bonus zkušenosti" %>
            <font class="<%= trida_barvy(pt.exp_bonus) %>"><%= format_mena(pt.exp_bonus, "%") %></font>
        </td>
        <td>
          <li><%= img_vyrobky "Bonus výroby" %>
            <font class="cervena"> + 0%</font>
          <li><%= img_kasarna "Navýšení kapacity kasáren" %>
            <font class="cervena"> + 0%</font>
          <li><%= img_kosmodrom "Navýšení kapacity kosmodromů" %>
            <font class="cervena"> + 0%</font>
          <li><%= img_po "Navýšení obrany" %>
            <font class="cervena"> + 0%</font>
        </td>
      </tr>
  <% end %>
</table>

