<% title "Arrakis" %>

<table class="tab0">
  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to "Imperialní kartografie", systems_path %> »
      <%= link_to "Arrakis", zobraz_arrakis_path %>
    </td>
  </tr>
</table>

<table class="tab2">
  <tr>

    <td class="tdpr" style="background-image: url(<%= asset_path @arrakis.background %>); width:190px"; rowspan="4">
      <div style="float:right; margin:15px 20px 20px 20px">
        <h3>Informace o produkci koření</h3>
        <%= img_melanz %> <font class="zelena"><%= @arrakis_field.vynos("melange") %></font> mg/den
        <br><%= img_melanz %> +<font class="<%= trida_barvy(@arrakis.melange_bonus) %>"><%= format_mena(@arrakis.melange_bonus, "%") %></font>
        <br><%= img_fremeni "Agresivita Fremenů" %><font class="<%= trida_barvy(Arrakis.agresivita_fremenu * -1) %>"><%= format_mena(Arrakis.agresivita_fremenu, "%") %></font>
      </div>
      <li><h2><%= @arrakis.name %></h2>
      <li><%= link_to @arrakis.system_name, @arrakis.system %>
      <li><%= @arrakis.oznaceni %>
      
    
    </td>
    
  </tr>
</table>
  
<table class="tab2">
  <tr>

    <th class="none"></th>
    <th>Popis</th>
    <th>Náklady</th>
    <th style="width:100px">Stavba</th>   
  </tr>
  <tr>
    <td class="tdpl" style="background-image: url(<%= asset_path "planety/harvester.png" %>)">
      <h2><%= @harvester.name %></h2>
      
    </td>
    <td>
      
      <li><%= @harvester.description %>
      <li><%= img_budovy %> <%= @arrakis_field.postaveno(@harvester) %>
      
    </td>  
    <td>  
      <li><%= img_solary %><%= format_mena(@harvester.naklady_stavba_solary, 'S', false) %>
      <li><%= img_material %><%= format_mena(@harvester.naklady_stavba_material, 'kg') %>

    </td>
    <td>

      <%= form_tag postavit_arrakis_path do %>
          <li><%= number_field_tag :pocet_budov_stavba, nil, :in => -10...10, :step => 1 %></li>
          <li><%= submit_tag "Postavit", :class => "oktab_95" %>
      <% end %>

    </td>    
  </tr>

  <tr>
    <td class="tdpl" style="background-image: url(<%= asset_path "planety/arrakis_arraken.png" %>)">
      <h2><%= @arraken.name %></h2>
    </td>
    
    <td colspan="3">
      
      <li><%= @arraken.description %>
      <li><%= img_budovy %> <%= @arrakis_field.postaveno(@arraken) %> </li>
      <li><%= img_populace %> <font class="zelena">+ 10 000</font> </li>
    </td>

  </tr> 

</table>

	
