<%# encoding: utf-8 %>
<% title "Přepočet" %>
<table class="tab0">
  <tr>
    <td>
      <a href="#" title="Home">⌂</a>
      » <%= link_to "Statistika přepočtů", zobraz_eod_path %>
    </td>

    <td class="tdd2">
      <%= link_to "«", zobraz_eod_path(:date => @eods_global.date, :order => @eods_global.order, :kam => "prev") %>
      <%= format_date(@eods_global.date) + " - " + @eods_global.order.to_s %>
      <%= link_to "»", zobraz_eod_path(:date => @eods_global.date, :order => @eods_global.order, :kam => "next") %>
    </td>
  </tr>
</table>

<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="2" style="width:120px; min-height: 150px; background-image: url(<%= asset_path 'planety/ekomentat2.png' %>) !important"></td>
    <th style="width:120px"> Přepočet</th>
    <!--<th style="width:120px"> Poplatky</th>-->
    <th style="width:120px"> Celkový zisk</th>
    <th class="r"> Ve skladech</th>
  </tr>
  <tr>
    <td>
      <li><%= img_solary %> <span class="<%= trida_barvy(@solar_income) %>"><%= format_mena(@solar_income,"S") %></span>
      <li><%= img_material %> <span class="<%= trida_barvy(@material_income) %>"><%= format_mena(@material_income,"kg") %></span>
      <li><%= img_melanz %> <span class="<%= trida_barvy(@melange_income) %>"><%= format_mena(@melange_income,"mg") %></span>
      <li><%= img_populace %> <span class="<%= trida_barvy(@population_income) %>"><%= format_mena(@population_income,"pop") %></span>
      <li><%= img_zkusenosti %> <span class="<%= trida_barvy(@exp_income) %>"><%= format_mena(@exp_income,"exp") %></span>
      <li><%= img_vyrobky %> <span class="<%= trida_barvy(@parts_income) %>"><%= format_mena(@parts_income,"ks") %></span>
    </td>
    <!--<td>-->
      <!--<li><%= img_solary %> <span class="zelena">+10</span>-->
      <!--<li><%= img_material %> <span class="cervena">-5</span>-->
      <!--<li><%= img_melanz %> <span class="zelena">-7</span>-->
      <!--<li><%= img_populace %> <span class="cervena">+ 0</span>-->
      <!--<li><%= img_zkusenosti %> <span class="zelena">+ 5</span>-->
      <!--<li><%= img_vyrobky %> <span class="oranzova">+ 5</span>-->
    <!--</td>-->
    <td>
      <li><%= img_solary %> <span class="oranzova"><%= @solar_income %></span>
      <li><%= img_material %> <span class="oranzova"><%= @material_income %></span>
      <li><%= img_melanz %> <span class="oranzova"><%= @melange_income %></span>
      <li><%= img_populace %> <span class="oranzova"><%= @population_income %></span>
      <li><%= img_zkusenosti %> <span class="oranzova"><%= @exp_income %></span>
      <li><%= img_vyrobky %> <span class="oranzova"><%= @parts_income %></span>
    </td>
    <td>
      <li><%= img_solary %> <%= @eods_global.solar_store %>
      <li><%= img_material %> <%= @eods_global.material_store %>
      <li><%= img_melanz %> <%= @eods_global.melange_store %>
      <li><%= img_populace %> <%= @eods_global.population_store %>
      <li><%= img_zkusenosti %> <%= @eods_global.exp_store %>
      <li><%= img_vyrobky %>  <%= @eods_global.parts_store %>
    </td>
  </tr>
  <tr>

<!-- JESTE NENI ARMADA    <td class="none"></td>

  </tr>
  <tr>
    <td class="tdpl" rowspan="2" style="width:120px; min-height: 150px; background-image: url(<%= asset_path 'planety/warmentat.png' %>) !important"></td>
    <th> Síla armády</th>
    <th> Armádní žold</th>
    <th> Obrana</th>
    <th class="r"> Útok</th>
  </tr>
  <tr>

    <td>
      <li><img src= <%= asset_path cesta_ikona("utok-pozemni") %>> 100
      <li><img src= <%= asset_path cesta_ikona("obrana-pozemni") %>> 100
      <li><img src= <%= asset_path cesta_ikona("utok-vesmir") %>> 100
      <li><img src= <%= asset_path cesta_ikona("obrana-vesmir") %>> 100

    </td>

    <td>
      <li><%= img_solary %> <font class="oranzova">- 100.00</font>
      <li><%= img_melanz %> <font class="oranzova"> - 5.00</font>
    </td>

    <td>
      <li>Dnes na vás nebyl veden žádný útok.
    </td>

    <td>
      <li>Dobyl jste planetu hráče <a href="stat-databaze-profil.htm">Profil *</a> (Riches)
      <li>Neúspěšně jste útočil na hráče <a href="stat-databaze-profil.htm">Profil *</a> (Riches)
      <li>Neúspěšně jste útočil na hráče <a href="stat-databaze-profil.htm">Profil *</a> (Riches)
    </td>

  </tr>
  <tr>
-->
    <td class="none"></td>

  </tr>
  <tr>

    <td class="tdpl" rowspan="2" style="width:120px; background-image: url(<%= asset_path 'planety/landmentat.png' %>) !important">
      <th> Imperátor</th>
      <th> Držitel Arrakis</th>
      <th> Vůdce národa</th>
      <th class="r"> Mentaté národa</th>

  </tr>
  <tr>

    <td>
      <li><img src="<%= asset_path 'imghra/emperor.png' %>" alt="" class="tdimg"> </li>
      <li><%= @imperator.house.leader if @imperator %>  </li>
      <li><%= link_to @imperator.nick, @imperator if @imperator %>
        (<%= link_to @imperator.house.name, @imperator.house if @imperator %>)  </li>
    </td>

    <td>
      <li><img src="<%= asset_path 'imghra/mistodrzici.png' %>" alt="" class="tdimg">
      <li><%= @arrakis.house.leader if @arrakis %>
      <li><%= link_to @arrakis.nick, @arrakis if @arrakis %>
        (<%= link_to @arrakis.house.name, @arrakis.house if @arrakis %>)
    </td>

    <td>
      <li><img src="<%= asset_path 'imghra/leader.png' %>" alt="" class="tdimg">
      <li><%= @leader.house.leader if @leader %>
      <li><%= link_to @leader.nick, @leader if @leader %> (<%= link_to @leader.house.name, @leader.house if @leader %>)
    </td>

    <td>
      <% if @mentats %>
          <% for mentat in @mentats do %>
              <li><%= link_to mentat.nick, mentat %></li>
          <% end %>
      <% end %>
    </td>

  </tr>
</table>
