<%= form_for(@survey) do |f| %>
    <% if @survey.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
          <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

          <ul>
            <% @survey.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">

      <%= label_tag :content %>
      <%= f.text_field :content %> </br>
      <%= f.submit %>
    </div>
<% end %>
