
<div class="kartajednotky" style="background-image: url(<%= asset_path 'jednotky/jedp2.png' %>); ">
        
        <div class="kartaequip">
          <span class="attack_button" title="Útočná síla" style="background-image: url(<%= asset_path 'css/utok-pozemni.png' %>) !important;"><%= unit.attack %></span>
          <br><span class="attack_button" title="Obraná síla" style="background-image: url(<%= asset_path 'css/obrana-pozemni.png' %>) !important;"><%= unit.defence %></span>
          <br><span class="attack_button" title="Obraná síla" style="background-image: url(<%= asset_path 'css/jednotek.png' %>) !important;">
                  <article title="Vlastnime <%= @field.jednotky(unit) ? @field.jednotky(unit).number : 0 %>">
                   <%= @field.jednotky(unit) ? @field.jednotky(unit).number : 0 %>
                  </article>
              </span>
        </div>
        
      <span style="height: 75px !important">

        <h2 style="margin-top:-5px;"><%= link_to unit.name, unit_path(unit.id) %></h2>
        <%= unit.description %>

      </span>
    
    
    
    <!---- Toto část se má ukázat po najetí na kartu jednotky, jinak je skrytá--->
    
      <span>
          <div class="kartaequip" style="width:60px !important; margin: -5px 0 0 0;">
            <% unit.equipment.times do %>
                <li><span class="attack_button" title="Mozny equipment" style="width:60px !important; margin:1px -5px 0 0;">Neobsazeno</span></li>
            <% end %>
          </div>
          
          <h3>Sprava jednotky</h3>
      
          <li><%= img_solary %><%= unit.solar %> S</li>
          <li><%= img_material %><%= unit.material %> kg</li>
          <li><%= img_populace %><%= unit.population %> pop</li>
          <li><% if unit.melange %>
          <li><%= img_melanz %><%= unit.melange%></li>
          <% end %>
          
          <br>  <%= number_field_tag(unit.name, nil, :min => 1, :title => "Zadejte množství") %>
                <%= hidden_field_tag 'leno', value = @field.id %>
                <%= submit_tag '+', :class => 'ok' %> <%= submit_tag '−', :name => "zrusit", :class => "ok" %>
      

      
      </span>
      
      <!---- Konec objevování --->
    
        <div class="bottom_full_width">
            
        </div>
    
</div>



<% if (unit_counter + 1) % 3 == 0 %>

    <div class="clear line_bot">

    </div>
    
<% end %>

