<div style="background-image: url(image/8/jedp1.png)">
  <%= link_to unit.name, unit_path(unit.id) %>
  <li>	<span class="attack_button" title="Útok"></span>
    <span class="defence_button" title="Obrana"></span>
  </li>
</div>
<div>
  <li><%= unit.description %></li>
  <li><%= @field.jednotky(unit) ? @field.jednotky(unit).number : 0 %></li>
    <h3>Verbování jednotek:</h3>
  <li>	<%= number_field_tag(unit.name, nil, :min => 1, :title => "Zadejte množství") %>
    <%= hidden_field_tag 'leno', value = @field.id %>
    <%= submit_tag 'Vybavit', :class => 'ok' %>
    <%= submit_tag 'Zrušit zadané množství', :name => "zrusit", :class => "ok" %>
    <h3>Výbava:</h3></li>
  <li>Solary :<%= unit.solar %> S</li>
  <li>Material :<%= unit.material %> kg</li>
  <li>Melanz :<%= unit.melange ? unit.melange : 0 %></li>
  <li>
    <img title="Zadny equipment" alt="Zadny equipment" class="img_no_equip">
    <img title="Zadny equipment" alt="Zadny equipment" class="img_no_equip">
    <img title="Zadny equipment" alt="Zadny equipment" class="img_no_equip">

</div>