<div style="background-image: url(assets/jednotky/jedp8.png)"><%= link_to unit.name, unit_path(unit.id) %>
  <li>	<span class="attack_button" title="Útok"><%= unit.attack %></span>
    <span class="defence_button" title="Obrana"><%= unit.defence %></span>
  </li>
  <li>
      <% if @field %>
        <%=  @field.jednotky(unit) ? @field.jednotky(unit).number : 0 %>
        </li><li>  <%= number_field_tag(unit.name, nil, :min => 1, :title => "Zadejte množství") %>

      <% else %>
        <%= link_to unit.celkovy_pocet(current_user) %>
        </li><li>  Celkovy prehlad => zvol leno na presun vojsk ;)
      <% end %>



</li></div>