
<div style="background-image: url(assets/jednotky/jedp8.png)" class="img army_unit wrapper" >
  <span class="heading"><h3><%= link_to unit.name, unit_path(unit.id) %></h3></span>

  <div class="bottom full_width">
    <span class="attack_button" title="Útok"><h3><%= unit.attack %></h3></span>
    <span class="defence_button" title="Obrana"><h3><%= unit.defence %></h3></span>
  </div>
  <ul>
  <li>
      <% if @field %>
        </li><li>  <%= number_field_tag(unit.name, @field.jednotky(unit) ? @field.jednotky(unit).number : 0, :min => 1, :title => "Pocet jednotek") %>

      <% else %>
        <%= link_to unit.celkovy_pocet(current_user) %>
        </li><li>  Celkovy prehlad => zvol leno na presun vojsk ;)
      <% end %>



</li></ul></div>
<% if (unit_counter + 1) % 5 == 0 %>
    </div>
    <div class="clear">

    </div>
    <div class="army_unit_blocks">
<% end %>
