<% title "Editovat příspěvek" %>

    <table class="tab0">
      <tr>
        <td>
          <a href="#" title="Home">⌂</a> » <a href="#" title="Syselaad - komunikační fóra">Syselaad</a> »  <a href="#">Editování příspěvku</a>
          
        </td>
        <% if logged_in? %>
                
        <td class="tdd">
          <ul class="menud">
            <li><a title="Volbou vstoupíte do jiného Syselaadu.">Přejít na Syselaad »</a>
              <ul>
                <li class="filterPosta"><%= link_to "Národní", syselaad_path(:kind => 'N') %></li>
                <li class="filterPosta"><%= link_to "Mezinárodní", syselaad_path(:kind => 'E') %></li>
                <% if current_user.pristup_do_is? %>
                    <li class="filterPosta"><%= link_to "Imperialní Syselaad", syselaad_path(:kind => 'I') %></li>
                <% end %>
                <% if current_user.pristup_do_ls? %>
                    <li class="filterPosta"><%= link_to "Landsraadní", syselaad_path(:kind => 'L') %></li>
                <% end %>
                <li class="filterPosta"><%= link_to "Systémový", syselaad_path(:kind => 'S') %>
              </ul>
            </li>
          </ul>
        </td>
        <% end %>
      </tr>
      
    </table>


<%= render 'form' %>