<% title "Post" %>

<p>
  <strong>Topic:</strong>
  <%= @post.topic_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %>
</p>
