<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :house_id %><br />
    <%= f.number_field :house_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :attack %><br />
    <%= f.number_field :attack %>
  </div>
  <div class="field">
    <%= f.label :defence %><br />
    <%= f.number_field :defence %>
  </div>
  <div class="field">
    <%= f.label :health %><br />
    <%= f.number_field :health %>
  </div>
  <div class="field">
    <%= f.label :equipment %><br />
    <%= f.number_field :equipment %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :solar %><br />
    <%= f.number_field :solar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
