<<<<<<< HEAD
<h1>Listing units</h1>

<table>
  <tr>
    <th>Name</th>
    <th>House</th>
    <th>Description</th>
    <th>Attack</th>
    <th>Defence</th>
    <th>Health</th>
    <th>Equipment</th>
    <th>Material</th>
    <th>Solar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= unit.house_id %></td>
    <td><%= unit.description %></td>
    <td><%= unit.attack %></td>
    <td><%= unit.defence %></td>
    <td><%= unit.health %></td>
    <td><%= unit.equipment %></td>
    <td><%= unit.material %></td>
    <td><%= unit.solar %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
=======
<table class="tab0">
  <tbody><tr>	<td>
    <%= link_to '⌂', help_path %> »
    <%= link_to 'Armáda', units_path %>
  </td>

  </tr>
  </tbody></table>

<table class="tab1">
  <tbody><tr>
    <td class="tdpl" rowspan="2" style="width:130px; background-image: url(assets/jednotky/warmentat.png)"></td>
    <th style="min-width:80px;"> Síla armády</th>
    <th style="min-width:80px;"> Armádní žold</th>
    <th> Obrana</th>
    <th class="r"> Útok</th>
  </tr><tr>

    <td>
      <li><%= img_pozemni_utok %> 100</li>
      <li><%= img_pozemni_obrana %> 100</li>
      <li><%= img_vesmir_utok %> 100</li>
      <li><%= img_vesmir_obrana %> 100</li>
    </td>

    <td>
      <li><%= img_solary %> <span class="oranzova">- 100.00</span>      </li>
      <li><%= img_melanz %><span class="oranzova"> - 5.00</span>
    </li></td>

    <td>
      <li>Dnes na vás nebyl veden žádný útok.
      </li></td>

    <td>
      <li>Dobyl jste planetu hráče <a href="profil.htm">Profil</a> (Riches)
      </li><li>Neúspěšně jste útočil na hráče <a href="profil.htm">Profil</a> (Riches)
    </li><li>Neúspěšně jste útočil na hráče <a href="profil.htm">Profil</a> (Riches)
    </li></td>

  </tr>
  </tbody></table>

<table class="tab4">
  <tbody><tr>
    <th class="thf" colspan="5">

      <select>
        <option value="planeta">Riches</option>

      </select>

      Vaše jednotky na vybraných planetách
    </th>
  </tr>

  <tr>
    <th style="background-image: url(assets/jednotky/jedp8.png)">
      <a href="army-sablony.htm">Kyborg</a>
      <li>	<span class="attack_button" title="Útok"></span>
        <span class="defence_button" title="Obrana"></span>
      </li>
      <li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp2.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp3.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp4.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedp5.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-pozemni.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-pozemni.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-pozemni.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Zvolte počet jednotek" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

  </tr>

  <tr><th style="background-image: url(assets/jednotky/jedv2.png)">
    <a href="army-sablony.htm">Obranný satelit</a>
    <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
      <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
    </li><li>
    <a class="none" href="army-verbovani.htm">
      <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-vesmir.png)" value="10">
    </a>
  </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
  </li></th>

    <th style="background-image: url(assets/jednotky/jedv3.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(css/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(css/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedv4.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(image/cssimage/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(image/cssimage/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedv5.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(image/cssimage/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(image/cssimage/poslatjednotky.png)">
    </li></th>

    <th style="background-image: url(assets/jednotky/jedv6.png)">
      <a href="army-sablony.htm">Jméno (max15zn)</a>
      <li>	<input type="button" title="Útok" style="margin-top: 100px; background-image: url(assets/css/utok-vesmir.png)" value="10">
        <input type="button" title="Obrana" style="margin-top: 100px; background-image: url(assets/css/obrana-vesmir.png)" value="5">
      </li><li>
      <a class="none" href="army-verbovani.htm">
        <input type="button" title="Celkový počet jednotek tohoto typu" style="width: 95px !important; background-image: url(image/cssimage/jed-vesmir.png)" value="10">
      </a>
    </li><li>  <input type="text" title="Celkový počet jednotek tohoto typu" style="width: 83px !important; background-image: url(image/cssimage/poslatjednotky.png)">
    </li></th>

  </tr>

  <tr>
    <td colspan="5" style="vertical-align: middle;">

      Přesunout jednotky na planetu

      <select style="float:none !important">
        <option value="planeta">Riches</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
        <option value="planeta">Planeta</option>
      </select>

      <input style="float:right !important" type="button" value="Odeslat za 0.005 Melanže" class="ok">

    </td>
  </tr>


  </tbody></table>
>>>>>>> origin/Units
