<!-- !!!!!!!!! POČÁTEK - OBLAST ZMĚNY  V KÓDU PRO TUTO STRÁNKU !!!!! -->
<table class="tab0">
  <tr>
    <td>
      <a href="index.htm" title="Home">⌂</a>
      » <%= link_to 'Obchod', markets_path, :title => "Obchod" %>
    </td>
    
    <td class="tdd">
          <%= link_to 'Spravovat nabídky »', my_offers_path %>
    </td>
    
    <td class="tdd">
          <a href="#" id="newOffer">Přidat vaši nabídku »</a>
    </td>
      
  </tr>
</table>

<div id="market">
  <span class="heading">Přehled aktuálního zboží na trhu</span>
  
<table class="tab0" style="margin:20px !important"> 
  <tr> 
    <td >
      <h3>Doporučené ceny:</h3>
				<br><%= img_material %>3 - 25
				<br><%= img_melanz %> 400 - 10 000
				<br><%= img_zkusenosti %> 1 - 30
        <br><%= img_vyrobky %> 3 - 35
    </td>
  </tr>
</table>


</div>

  <br>
<!--<div id="obrazok">-->

<!--</div>-->
<table class="vyroba">
  <tr>
    <th>Komodita</th>

    <th>Cena za kus [Sol]</th>
    <th>Množství</th>
    <th class="r" style="width:50px">Nákup</th>
  </tr>

  <%= render :partial => "market", :collection => @markets %>

</table>

<!-- !!!!!!!!! KONEC - OBLAST ZMĚNY  V KÓDU PRO TUTO STRÁNKU !!!!! -->

<div id="offerForm">


  <table class="vyroba">
    <tr>
      <th>Komodita k nabídnutí</th>
      <th>Cena za kus [Sol]</th>

      <th>Množství k prodeji</th>
      <th>Akce</th>
    </tr>
    <%= form_for(@market) do |f| %>


        <tr>
          <td>

            <%= f.select :area, options_for_select(@user.for_sale), :name => "Vyberte komoditu k prodeji", :title => "Vyberte komoditu k prodeji", :class => "vyber" %>

          </td>
          <td><%= f.number_field :price, :required => true, :min => 1, :size => 3, :title => "Zadejte cenu" %></td>

          <td><%= f.number_field :amount, :required => true, :min => 0.1, :size => 3, :title => "Zadejte množství", :step => "any" %></td>
          <td><%= f.submit 'Prodávat', :class => "ok" %></td>
        </tr>
    <% end %>
  </table>


</div>


<br/>


