<h1><%= @title %></h1>

<table class="tab0">
  <tr>
  	<th><%= link_to 'Vsechny zakony', laws_path(:zakony => 'vsechny') %></th>
  	<th><%= link_to 'Zarazene zakony', laws_path(:zakony => 'zarazene') %></th>
  	<th><%= link_to 'Projednavane zakony', laws_path(:zakony => 'projednavane') %></th>
  	<th><%= link_to 'Schvalene zakony', laws_path(:zakony => 'schvalene') %></th>
  	<th><%= link_to 'Zamitnute zakony', laws_path(:zakony => 'zamitnute') %></th>
  	<th><%= link_to 'Podepsane zakony', laws_path(:zakony => 'podepsane') %></th>
  </tr>
</table>

<table class="tab1">
  <tr>
    <th>Label</th>
    <th>Title</th>
    <th>Content</th>
    <th>State</th>
    <th>Position</th>
    <th>Submitter</th>
    <th>Submitted</th>
    <th>Enacted</th>
    <th>Signed</th>
  </tr>

<% @laws.each do |law| %>
  <tr>
    <td><%= law.label %></td>
    <td><%= law.title %></td>
    <td><%= law.content %></td>
    <td><%= law.state %></td>
    <td><%= law.position %></td>
    <td><%= law.submitters.first.nick %></td>
    <td><%= law.submitted %></td>
    <td><%= law.enacted %></td>
    <td><%= law.signed %></td>
  </tr>
<% end %>
</table>

