<table class="tab0">

  <tr>
    <td>
    <a href="#" title="Home">⌂</a> »
      <%= link_to 'Přehled Imperia', imperium_path %> »
      <%= link_to 'Archiv Landsraadu', laws_path %> »
      <b><%= @title %></b>
    </td>

    <td class="tdd">

      <ul class="menud">

        <li><a title="Filtrováním přenastavíte zobrazená data.">Filtrovat archiv »</a>

          <ul>

            <li><%= link_to 'Všechny zákony', laws_path(:zakony => 'vsechny') %>

            <li><%= link_to 'Zařazené zákony', laws_path(:zakony => 'zarazene') %>

            <li><%= link_to 'Projednavané zákony', laws_path(:zakony => 'projednavane') %>

            <li><%= link_to 'Schvalené zákony', laws_path(:zakony => 'schvalene') %>

            <li><%= link_to 'Zamitnuté zákony', laws_path(:zakony => 'zamitnute') %>

            <li><%= link_to 'Podepsané zákony', laws_path(:zakony => 'podepsane') %>

          </ul>

        </li>

      </ul>

    </td>

  </tr>

</table>

<table class="tab1">
  <tr>
    <th>Název a autor</th>
    <th>Obsah zákona</th>
    <th>Stav</th>
    <th>Zařazen</th>
    <th>Přijat</th>
    <th>Podpis</th>
  </tr>

  <% @laws.each do |law| %>
      <tr>
        <td><%= law.label %>
              <li><%= law.title %></li>
              <li><%= link_to law.user.nick, law.user %></li>
        </td>
        <td><%= law.content %></td>
        <td><%= law.state %></td>
        <td><%= format_date law.submitted %></td>
        <td><%= format_date law.enacted %></td>
        <td><%= format_date law.signed %></td>
      </tr>
  <% end %>
</table>

