<% title "Subhouses" %>

<table>
  <tr>
    <th>Name</th>
    <th>House</th>
    <th>Solar</th>
    <th>Melange</th>
    <th>Material</th>
    <th>Exp</th>
  </tr>
  <% for subhouse in @subhouses %>
      <tr>
        <td><%= subhouse.name %></td>
        <td><%= subhouse.house_id %></td>
        <td><%= subhouse.solar %></td>
        <td><%= subhouse.melange %></td>
        <td><%= subhouse.material %></td>
        <td><%= subhouse.exp %></td>

      </tr>
  <% end %>
</table>


