<%# encoding: utf-8 %>
<table class="tab0">
  <tr>
    <td>
      <a href="index.htm" title="Home">⌂</a>
      » <%= link_to 'Přehled Malorodu', subhouse_path(current_user.subhouse), :title => "Malorod" %>
    </td>

<!-- Odkazuje mne na psani nové pošty
    
    <td class="tdd">
       <%= link_to ' Malorodní pošta »', new_message_path, :value => "Malorodní pošta" %>
    </td>
    
-->

    <% if can? :update, @subhouse %>
        <td class="tdd">
          <%= link_to ' Spravovat malorod »', sprava_mr_path(:id => current_user.subhouse) %>
        </td>
    <% end %>
  </tr>
</table>

<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="2" style="width:180px; background-image: url(<%= asset_path 'imghra/narodnisklad.png' %>)">
      <li><h2>Malorodni sklad</h2></li>
      <li><b>Národ: </b><%= @subhouse.house.name %></li>
      <li><b>Malorod: </b><%= @subhouse.name %></li>
      <li><b>Členů: </b><%= @subhouse.users.count %> / <%= Constant.max_u_mr %> </li>
    </td>   
    <th>Soláry</th>
    <th>Materiál</th>
    <th>Melanž</th>
    <th>Zkušenosti</th>
    <th>Výrobky</th>
  </tr>

  <tr>
    <td><%= img_solary %> <%= @subhouse.solar %></td>
    <td><%= img_material %><%= @subhouse.material %></td>
    <td><%= img_melanz %><%= @subhouse.melange %></td>
    <td><%= img_zkusenosti %><%= @subhouse.exp %></td>
    <td><%= img_vyrobky %><%= @subhouse.parts %></td>
  </tr>
</table>

<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="11" style="width:180px; background-image: url(<%= asset_path 'imghra/landsraad_v.png' %>)">
      <li><h2>Členové Malorodu</h2></li>
      <li><b>Vicegenerál: </b><%= @subhouse.users.vicegeneral.first.nick if @subhouse.users.vicegeneral.first %></li>
      <li><b>Clenu: </b><%= @subhouse.users.count %> / <%= Constant.max_u_mr %> </li>
    </td>
    <th>Jméno hráče</th>
    <th>Síla</th>
    <th>Vliv</th>
    <th>Lén</th>   
    <th>Akce</th>
  </tr>
  <% @subhouse.users.each do |user| %>
      <tr>
        <td>
          <%= user.nick %>
        </td>
        <td>
        </td>
        <td>
          <%= user.influence %>
        </td>
        <td>
          <%= user.fields.count %>
        </td>
        <td>
          <%= link_to 'Profil', user_path(user) %>
        </td>
      </tr>
  <% end %>
</table>

<table class="tab1">
  <tr>
    <th colspan="2">Prehled poslednich akci malorodu</th>
    <th><%= link_to 'Všechny akce', operations_path(:jake => 'malorod') %></th>
  </tr>
  <tr>
    <th>Obsah akce</th>
    <th style="width:80px">Datum</th>
    <th style="width:80px">Čas</th>
  </tr>
  <% for operation in @operations %>
      <tr>
        <td><%= operation.content %></td>
        <td><%= format_date(operation.date) %></td>
        <td><%= format_time(operation.time) %></td>
      </tr>
  <% end %>
</table>