<%# encoding: utf-8 %>
<table class="tab0">
  <tr>
    <td>
      <a href="index.htm" title="Home">⌂</a>
      » <%= link_to 'Přehled Malorodu', subhouse_path(current_user.subhouse) %>
      » <a href="index.htm" title="Home">Sprava Malorodu</a>
    </td>
  </tr>
</table>
<table class="tab1">
  <%= form_tag :posli_mr_sur do %>
      <tr>
        <td class="tdpl" rowspan="2" style="width:160px; background-image: url(<%= asset_path 'imghra/narodnisklad.png' %>)">
          <li><h2>Malorodni sklad</h2></li>
          <li><b>Národ: </b><%= @subhouse.house.name %></li>
          <li><b>Malorod: </b><%= @subhouse.name %></li>
          <li><b>Členů: </b><%= @subhouse.users.count %> / <%= Constant.max_u_mr %> </li>
          <br/><br/><br/><br/><br/><br/>
          <li><%= submit_tag 'Poslat', :name => 'poslat', :class => 'ok' %></li>
        </td>

        <th style="width:120px">Stav skladu</th>
        <th style="width:120px">Zaslat hráči</th>
        <th style="width:120px">Zaslat Malorodu</th>
        <th class="r">Zaslat Velkorodu</th>
      </tr>

      <tr>
        <td>
          <li><%= img_solary %><%= format_mena(@subhouse.solar, 'S', true) %></li>
          <li><%= img_material %><%= format_mena(@subhouse.material, 'kg') %></li>
          <li><%= img_melanz %><%= format_mena(@subhouse.melange, 'mg') %></li>
          <li><%= img_zkusenosti %><%= format_mena(@subhouse.exp, 'exp', false) %></li>
          <li><%= img_vyrobky('Celkovo dilu') %><%= format_mena(@subhouse.parts, 'ks', true) %></li>
          <li><%= img_vyrobky('Využití továren / kapacita') %><%= @subhouse.vyuzitie_tovaren %>
            / <%= format_mena(@subhouse.kapacita_tovaren, 'ks', true) %></li>
        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'user_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'user_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'user_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'user_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= img_vyrobky %><%= text_field_tag 'user_parts', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= select_tag :user_id_suroviny, options_for_select(@subhouse.users.order(:nick).all.collect { |p| [p.nick, p.id] }, {:include_blank => false}), :class => "tab" %> </li>
        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'mr_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'mr_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'mr_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'mr_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= img_vyrobky %><%= text_field_tag 'mr_parts', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= select_tag :mr_id_suroviny, options_for_select(Subhouse.by_house(current_user.house).without_subhouse(@subhouse).order(:name).all.collect { |p| [p.name, p.id] }, {:include_blank => false}), :class => "tab" %> </li>

        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'rodu_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'rodu_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'rodu_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'rodu_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_vyrobky %><%= text_field_tag 'rodu_parts', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= select_tag :rod_id_suroviny, options_for_select(House.playable.order(:name).all.collect { |p| [p.name, p.id] }, {:include_blank => false}), :class => "tab" %></li>
        </td>
      </tr>
  <% end %>
</table>

<% if @productions.count != 0 %>
    <table class="tab1">
      <tr>
        <td class="tdpl" rowspan="2" style="width:160px; background-image: url(<%= asset_path 'imghra/market.png' %>)">
        </td>
        <th>Produkt</th>
        <th>Množství</th>
      </tr>
        <% @productions.each do |productions| %>
          <tr>
                <td><%= productions.product.title %></td>
                <td><%= productions.amount %></td>
          </tr>
        <% end %>
    </table>
<% end %>

<!--- NAKUP?? Prosim popsat o co jde :) -->

<% if @markets.count != 0 %>
    <table class="vyroba">
      <tr>
        <th colspan="4">Nakup malorodnych zasob na trhu</th>
      </tr>
      <tr>
        <th>Tovar</th>

        <th>Cena za kus [Sol]</th>
        <th>Množství</th>
        <th class="r" style="width:50px">Nákup</th>
      </tr>

      <%= render :partial => "market", :collection => @markets %>

    </table>
<% end %>


<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="2" style="width:160px; background-image: url(<%= asset_path 'imghra/market_sell.png' %>)">
      <li><h2>Prodej komodit</h2></li>
      <li><%= submit_tag 'Nabídnout', :class => "ok" %>

      
    </td>
    <th>Komodita</th>
    <th>Cena/Kus</th>
    <th>Množství</th>

  </tr>
  <!-- PRODEJ Z MALORODNICH ZASOB -->
  <%= form_for(@market) do |f| %>
      <tr>
        <td>
          <%= hidden_field_tag 'sent_from', 'MR' %>
          <%= f.select :area, options_for_select(@subhouse.for_sale), :required => true, :name => "Vyberte komoditu k prodeji", :title => "Vyberte komoditu k prodeji", :class => "vyber" %>

        </td>
        <td><%= f.number_field :price, :required => true, :min => 1, :size => 3, :title => "Zadejte cenu" %></td>

        <td><%= f.number_field :amount, :required => true, :min => 0.1, :step => "any", :size => 3, :title => "Zadejte množství", :step => "any" %> </td>
        

      </tr>
  <% end %>
  
</table>

<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/landsraad_v.png' %>)">
      <li><h2>Členové Malorodu</h2></li>
      <li><b>Vicegenerál: </b><%= @subhouse.users.vicegeneral.first.nick if @subhouse.users.vicegeneral.first %></li>
      <li><b>Členů: </b><%= @subhouse.users.count %> / <%= Constant.max_u_mr %> </li>
    </td>

    <th>Nick</th>
    <th>Počet lén</th>
    <th>Vojenská síla</th>
    <th>Vyhostit</th>
  </tr>
  <% @subhouse.users.each do |user| %>
      <tr>
        <td>
          <%= user.nick %>
        </td>
        <td>
          <%= user.fields.count %>
        </td>
        <td>
          333
        </td>
        <td>
          <%= link_to 'Vyhostit', vyhod_mr_path(user) if current_user.general %>
        </td>
      </tr>
  <% end %>
     <tr>
        <td colspan="4">
      <%= form_tag menuj_vice_path(:menuj => true) do %>
          <%= select_tag :vicegeneral, options_for_select(@subhouse.users.collect { |p| [p.nick, p.id] }, {:include_blank => false}), :class => "tab" %>
          <%= submit_tag 'Jmenovat Vicegenerálem', :class => 'ok' %> 
      <% end %>
       </td>
      </tr>
      <tr>
         <th colspan="3">Vicegeneralove</th>
         <th>Odebrat Vicegenerala</th>
      </tr>
  <% @vice.each do |v| %>
  <tr>
    <td colspan="3"><%= v.nick %></td>
    <td><%= link_to "Odeber", menuj_vice_path(:id => v.id) %></td>
  </tr>
  <% end %>
  </table>
  
<% if @ziadosti.count > 0 %>
<table class="tab1">
  <tr>
    <td class="tdpl" rowspan="99" style="width:160px; background-image: url(<%= asset_path 'imghra/market.png' %>)">
      <li><h2>Žádosti o vstup</h2></li>
      <br>
    </td>
    <th> Jméno žadatele</th>
    <th> Akce</th>

  </tr>
      <% @ziadosti.each do |ziadost| %>
  <tr>
     <td><%= link_to ziadost.nick, user_path(ziadost) %></td>
     <td><%= button_to("Přijmout", prijmi_hrace_mr_url(:id => ziadost.id), :confirm => "Opravdu chcete přijmout hráče?") %></td>
  </tr>
      <% end %>
</table>
<% end %>

<table class="tab1">
  <tr>
    <th colspan="2">Prehled poslednich akci malorodu</th>
    <th><%= link_to 'Všechny akce', operations_path(:jake => 'malorod') %></th>
  </tr>
  <tr>
    <th>Obsah akce</th>
    <th style="width:80px">Datum</th>
    <th style="width:80px">Čas</th>
  </tr>
  <% for operation in @operations %>
      <tr>
        <td><%= operation.content %></td>
        <td><%= format_date(operation.date) %></td>
        <td><%= format_time(operation.time) %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="3"><%= link_to 'Zobrazit všechny proběhlé akce', operations_path(:jake => 'malorod') %></td>
  </tr>
</table>