<%# encoding: utf-8 %>
<table class="tab0">
  <tr>
    <td>
      <a href="index.htm" title="Home">⌂</a>
      » <%= link_to 'Malorod', subhouse_path(current_user.subhouse), :title => "Malorod" %>
    </td>
    <td class="tdd">
      <%= link_to '<<  Malorod', subhouse_path(current_user.subhouse) %>
    </td>
  </tr>
</table>
<table class="tab1">
  <%= form_tag :posli_mr_sur do %>
      <tr>
        <td class="tdpl" rowspan="2" style="width:160px; background-image: url(<%= asset_path 'imghra/narodnisklad.png' %>)">
          <li><h2>Malorodni sklad</h2></li>
          <li><b>Národ: </b><%= @subhouse.house.name %></li>
          <li><b>Malorod: </b><%= @subhouse.name %></li>
          <li><b>Clenu: </b><%= @subhouse.users.count %> / <%= Constant.max_u_mr %> </li>
          <br/><br/>
          <li><%= submit_tag 'Poslat', :name => 'poslat', :class => 'ok' %></li>
        </td>

        <th style="width:120px">Stav skladu</th>
        <th style="width:120px">Zaslat hráči</th>
        <th style="width:120px">Zaslat Malorodu</th>
        <th class="r">Zaslat Velkorodu</th>
      </tr>

      <tr>
        <td>
          <li><%= img_solary %><%= format_mena(@subhouse.solar, 'S', true) %></li>
          <li><%= img_material %><%= format_mena(@subhouse.material, 'kg') %></li>
          <li><%= img_melanz %><%= format_mena(@subhouse.melange, 'mg') %></li>
          <li><%= img_zkusenosti %><%= format_mena(@subhouse.exp, 'exp', false) %></li>
          <li><%= img_vyrobky('Celkovo dilu') %><%= format_mena(@subhouse.parts, 'ks', true) %></li>
          <li>Kapacita T: <%= @subhouse.vyuzitie_tovaren %>
            / <%= format_mena(@subhouse.kapacita_tovaren, 'ks', true) %></li>
        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'user_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'user_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'user_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'user_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= img_vyrobky %><%= text_field_tag 'user_parts', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= select_tag :user_id_suroviny, options_for_select(@subhouse.users.order(:nick).all.collect { |p| [p.nick, p.id] }, {:include_blank => false}), :class => "tab" %> </li>
        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'mr_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'mr_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'mr_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'mr_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= img_vyrobky %><%= text_field_tag 'mr_parts', '0.00', :size => "3", :title => "Zadejte množství" %> </li>
          <li><%= select_tag :mr_id_suroviny, options_for_select(Subhouse.order(:name).all.collect { |p| [p.name, p.id] }, {:include_blank => false}), :class => "tab" %> </li>

        </td>
        <td>
          <li><%= img_solary %><%= text_field_tag 'rodu_solary', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_material %><%= text_field_tag 'rodu_material', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_melanz %><%= text_field_tag 'rodu_melanz', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_zkusenosti %><%= text_field_tag 'rodu_zkusenosti', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= img_vyrobky %><%= text_field_tag 'rodu_parts', '0.00', :size => "3", :title => "Zadejte množství" %></li>
          <li><%= select_tag :rod_id_suroviny, options_for_select(House.playable.order(:name).all.collect { |p| [p.name, p.id] }, {:include_blank => false}), :class => "tab" %></li>
        </td>
      </tr>
  <% end %>
</table>

<% if @productions.count != 0 %>
    <table class="tab1">
      <tr>
        <th></th>
        <th>Produkt</th>
        <th>Mnozstvo</th>
      </tr>
      <% @productions.each do |productions| %>
          <tr>
            <td></td>
            <td><%= productions.product.title %></td>
            <td><%= productions.amount %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% if @markets.count != 0 %>
    <table class="vyroba">
      <tr>
        <th colspan="4">Nakup malorodnych zasob na trhu</th>
      </tr>
      <tr>
        <th>Tovar</th>

        <th>Cena za kus [Sol]</th>
        <th>Množství</th>
        <th class="r" style="width:50px">Nákup</th>
      </tr>

      <%= render :partial => "market", :collection => @markets %>

    </table>
<% end %>

<table class="tab1">
  <tr>
    <th colspan="4">Predaj malorodnych zasob na trhu</th>
  </tr>
  <%= form_for(@market) do |f| %>
      <tr>
        <td>
          <%= hidden_field_tag 'sent_from', 'MR' %>
          <%= f.select :area, options_for_select(@subhouse.for_sale), :required => true, :name => "Vyberte komoditu k prodeji", :title => "Vyberte komoditu k prodeji", :class => "vyber" %>

        </td>
        <td><%= f.number_field :price, :required => true, :min => 1, :size => 3, :title => "Zadejte cenu" %></td>

        <td><%= f.number_field :amount, :required => true, :min => 0.1, :step => "any", :size => 3, :title => "Zadejte množství", :step => "any" %></td>
        <td><%= f.submit 'Prodávat', :class => "ok" %></td>
      </tr>
  <% end %>
</table>

<table class="tab1">
  <tr>
    <th colspan="4">Zozonam hracu v malorode</th>
  </tr>
  <tr>
    <th>Nick</th>
    <th>Pocet Len</th>
    <th>Vojenska Sila</th>
    <th>Vyhostit</th>
  </tr>
  <% @subhouse.users.each do |user| %>
      <tr>
        <td>
          <%= user.nick %>
        </td>
        <td>
          <%= user.fields.count %>
        </td>
        <td>
          333
        </td>
        <td>
          <%= link_to 'Vyhostit', vyhod_mr_path(user) %>
        </td>
      </tr>
  <% end %>
</table>
<% if @ziadosti.count > 0 %>
    <table class="tab1">
      <tr>
        <th> Meno Ziadatela</th>

      </tr>
      <% @ziadosti.each do |ziadost| %>
          <tr>
            <td><%= link_to ziadost.nick, user_path(ziadost) %></td>
            <td><%= button_to("Prijmout", prijmi_hrace_mr_url(:id => ziadost.id), :confirm => "Naozaj chcete prijat hrace ?") %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<table class="tab1">
  <tr>
    <td> Menovat Vicegenerala :</td>
    <td>
      <%= form_tag :menuj_vice do %>
          <%= select_tag :vicegeneral, options_for_select(@subhouse.users.collect { |p| [p.nick, p.id] }, {:include_blank => false}), :class => "tab" %>
          <%= submit_tag 'Menuj' %>
      <% end %>
    </td>
    <td>Aktualny Vicegeneral : <%= @subhouse.users.vicegeneral.first.nick if @subhouse.users.vicegeneral.first %></td>
  </tr>


</table>

