<tr>
  <td><%= zakon.label  %></td>
  <td><%= zakon.state %></td>
  <td><%= zakon.content %></td>
  <td class="ctr">10.7.2012</td>
  <td class="ctr"><%= link_to User.find(zakon.submitter).nick  %></td>
  <td class="ctr"><%=  zakon.pomer_hlasu %></td>
</tr>