<%# encoding: utf-8 %>
<% title @title %>
<table class="tab0">
  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to 'Přehled Imperia', imperium_path %> »
      <%= link_to 'Jednání Landsraadu', landsraad_jednani_path %>
    </td>
    
    <% if current_user.emperor? || current_user.admin? %>
      <td class="tdd">
          <%= link_to 'Zákony k podepsání »', imperator_zakony_path %></li>
      </td>
    <% end %>
  </tr>
</table>


<table class="land">
  <tr>
    <td class="none" colspan="4"></td>
    <% if @imperator %>
      <td background="<%= asset_path 'imghra/emperor1.png' %>" rowspan="2" colspan="2" background-position="center center"></td>
    <% else %>
      <td background="<%= asset_path 'imghra/regent1.png' %>" rowspan="2" colspan="2" background-position="center"></td>
    <% end %>
    <td class="none" colspan="4"></td>
    <td class="none" rowspan="9" style="width:4px !important;"></td>
    <td class="tdpr" rowspan="99" style="width:70px !important; background-image: url(<%= asset_path 'imghra/landsraad_v.png' %>) !important;">
      <li>
        <h2>Jednání Landsraadu</h2>
      <% if @imperator %>
        <li><b>Imperátor: </b> <%= link_to @imperator.nick, @imperator if @imperator %>
        <% else %>
        <li><h3>Regentská vláda</h3>
        
      <% end %>
      <% if @spravce %>
        <li><b>Místodržící Arrakisu: </b> <%= link_to @spravce.nick, @spravce if @spravce %>
        <% else %>
        <li><h3>Místodržící nezvolen!</h3>
      <% end %>
      <li>
        <b>Senátoři: </b>
        <% for poslanec in @poslanci do %>
            <%= link_to poslanec.nick, poslanec %>, 
        <% end %>
               

    </td>
  </tr>
  <tr>
    <% 8.times do %>
        <td background="<%= asset_path(cesta_budovy('Atreides', 'dom')) %>"></td>
    <% end %>
  </tr>
  <% 3.times do %>
      <tr>
        <% 10.times do %>
            <td background="<%= asset_path(cesta_budovy('Atreides', 'dom')) %>"></td>
        <% end %>
      </tr>
  <% end %>
</table>

<% if Imperium.volba_imperatora? && current_user.landsraad? %>
    <table class="tab1">
      <tr>
        <td style="padding: 0 10px 10px 10px; width:270px; background-image: url(<%= asset_path 'imghra/kolonizace.png' %>) !important">
          <h3>Volba Imperátora</h3>
          <li>Kandidáti na Imperátora potřebují nejméně 60% hlasů, aby mohli usednout na trůn. 
          <li>Pokud nebude Imperátor zvolen během těchto voleb, ujmou se správy regenti a volba se bude opakovat za 3dny.
          <br>Regenty se mohou stát až 3 kandidáti s nejvyšším počtem hlasů.
          <li>Regenti dokáží krátkodobě spravovat říši, ale nemohou jmenovat držitele pololéna na Arrakis!
          <br><br>
          Volby budou uzavřeny: #{format_date @datum_volby}  
          <%= link_to "Přejít k volbě Imperátora", volba_imperatora_path %>
        </td>
      </tr>
    </table>
<% end %>

<table class="tab1">
  <tr>
    <th colspan="10">Hlasovat o zákonu</th>
  </tr>
  <tr>
    <% for law in @projednavane do %>
        <td style="width:25%"><h3><%= law.label + ' - ' + law.title %></h3>
          <li>
            <%= law.content %>
          <li>
            <% if current_user.landsraad? %>
                <% temp = law.zahlasovane(current_user) %>
                <% if temp %>

                    <span class="tvoj_hlas">Hlasoval jsi za <%= temp %></span>
                <% else %>
                    <%= form_for(@hlas) do |f| %>
                        <%= hidden_field_tag :law_id, law.id %>
                        <%= submit_tag 'Ano', :class => "ok4" %>
                        <%= submit_tag 'Ne', :class => "ok4" %>
                        <%= submit_tag 'Zdržet se', :class => "ok4" %>
                    <% end %>
                <% end %>
            <% end %>

            </td>
    <% end %>
  </tr>
</table>
<% if current_user.landsraad? %>
    <table class="tab3">
      <%= form_for(@law) do |f| %>

          <tr>
            <th colspan="10">
              <%= f.submit "PŘEDLOŽIT NOVÝ ZÁKON", :title => "PŘEDLOŽIT", :class => "ok4 lfloat" %>


              <span class="lfloat zakon_title">

        <%= f.text_field :title, :placeholder => "Nazev zakonu" %>

      </span>

            </th>
          </tr>
          <tr>
            <td>
              <%= f.text_area :content %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>

<% end %>

<table class="tab1">
  <tr>
    <th class="l" style="width:30px">Číslo</th>
    <th style="width:50px">Stav</th>
    <th>Znění neprojednaných zákonů</th>
    <th>Uzavření</th>
    <th>Autor</th>
    <th class="r" style="width:80px">Ano/Ne/Zdr.</th>
  </tr>
  <% for law in @zarazeny do %>
      <tr>
        <td><%= law.label %></td>
        <td><%= law.state %></td>
        <td><%= law.content %></td>
        <td class="ctr">---</td>
        <td class="ctr"><%= link_to law.user.nick, law.user %></td>
        <td class="ctr"><%= law.pomer_hlasu %></td>
      </tr>

  <% end %>

</table>
