<% title @title %>
<table class="land">
	<tr>
		<td class="none" colspan="4"></td>
		<td background="image/	8	/imperator.png" rowspan="2" colspan ="2"></td>
		<td class="none" colspan="4"></td>
		<td class="none" rowspan="9" style="width:4px !important;"></td>
		<td class="tdpr" rowspan="9" style="width:70px !important;">
		<li>
			<h2><%= @title %></h2>
		<li>
			<b>Imperátor: </b><%= link_to @imperator.nick, @imperator if @imperator %>
		<li>
			<b>Držitel pololéna: </b><%= link_to @spravce.nick, @spravce if @spravce %>
		<li>
			<b>Poslanci: </b>
			<% for poslanec in @poslanci do %>
			<%= link_to poslanec.nick, poslanec %>
			<% end %>
			<br>
			<br>

		</td>
	</tr>
	<tr>
		<% 8.times do %> <td background="<%= asset_path(cesta_budovy('Atreides', 'dom')) %>"></td>
		<% end %>
	</tr>
	<% 3.times do %>
	<tr>
		<% 10.times do %> <td background="<%= asset_path(cesta_budovy('Atreides', 'dom')) %>"></td>
		<% end %>
	</tr>
	<% end %>
</table>

<% if Imperium.volba_imperatora? %>
	<table class="tab1">
		<tr>
			<th><%= link_to 'Volba Imperatora', volba_imperatora_path %></th>
		</tr>
	</table>
<% end %>

<table class="tab1">
	<tr>
		<th colspan="10">Projednavane zakony</th>
	</tr>
	<tr>
		<% for law in @projednavane do %> 
			<td style="width:25%"><h3><%= law.label + ' - ' + law.title %></h3>
				<li>
					<%= law.content %>
				<li>
				<input type="button" value="Ano" class="ok4">
				<input type="button" value="Ne" class="ok4">
				<input type="button" value="Zdržet se" class="ok4">
			</td>
		<% end %> 
		<td style="width:25%">
			<h3>Předložit nový zákon</h3>
			<textarea class="novyzakon"></textarea>
			<input type="button" value="Předložit" class="ok4">
		</td>
	</tr>
</table>

<table class="tab1">
	<tr>
		<th class="l" style="width:30px">Číslo</th>
		<th style="width:50px">Stav</th>
		<th>Znění zákona</th>
		<th>Uzavření</th>
		<th>Autor</th>
		<th class="r" style="width:80px">Ano/Ne/Zdr.</th>
	</tr>
	<tr>
		<td>010</td>
		<td>Zařazen</td>
		<td>Celkové znění zákona, které předložil poslanec.</td>
		<td class="ctr">---</td>
		<td class="ctr"><a class="deputy" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">---</td>
	</tr>
	<tr>
		<td>009</td>
		<td>Zařazen</td>
		<td>Celkové znění zákona, které předložil poslanec.</td>
		<td class="ctr">---</td>
		<td class="ctr"><a class="deputy" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">---</td>
	</tr>
	<tr>
		<td>008</td>
		<td><font class="oranzova">Hlasování</font></td>
		<td>Imperátor nesmí útočit bez povolení od Landsraadu.</td>
		<td class="ctr">11.7.2012</td>
		<td class="ctr"><a class="deputy" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">---</td>
	</tr>
	<tr>
		<td>007</td>
		<td><font class="oranzova">Hlasování</font></td>
		<td>12000 Solérů z CHOAM bude předáno Imperátorovi pro zbudování Imperiální armády. Imperiální armáda bude použita pro potlačení revolt.</td>
		<td class="ctr">11.7.2012</td>
		<td class="ctr"><a class="emperor" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">---</td>
	</tr>
	<tr>
		<td>006</td>
		<td><font class="oranzova">Hlasování</font></td>
		<td>Velkorod Harkonnenové zaplatí odškodné Velkorodu Atreidové za protismluvní útok. Celkové odškodné činí 5000 Solérů.</td>
		<td class="ctr">11.7.2012</td>
		<td class="ctr"><a class="emperor" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">---</td>
	</tr>
	<tr>
		<td>005</td>
		<td><font class="cervena">Zamítnut</font></td>
		<td>Velkorod Harkonnenové zaplatí odškodné Velkorodu Atreidové za protismluvní útok. Celkové odškodné činí 10000 Solérů.</td>
		<td class="ctr">10.7.2012</td>
		<td class="ctr"><a class="emperor" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">10/19/7</td>
	</tr>
	<tr>
		<td>004</td>
		<td><font class="zelena">Schvalen</font></td>
		<td>Na Lví trůn usedne padišáh PXX. <font class="oranzova">POZOR! Při volbě Imperátora je třeba získat minimálně 2/3 kladných hlasů!</font></td>
		<td class="ctr">10.7.2012</td>
		<td class="ctr"><a class="deputy" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">26/5/5</td>
	</tr>
	<tr>
		<td>003</td>
		<td><font class="zelena">Schvalen</font></td>
		<td>Držitelem pololéna se stane  hráč XXY. 99% produkce na Arrakis předá Landsraadu. CHOAM poskytne hráči podporu. CHOAM zašle hráči 10000 solérů.</td>
		<td class="ctr">10.7.2012</td>
		<td class="ctr"><a class="deputy" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">26/5/5</td>
	</tr>
	<tr>
		<td>002</td>
		<td><font class="cervena">Zamítnut</font></td>
		<td>Držitelem pololéna se stane  hráč XXX. 90% produkce na Arrakis předá Landsraadu. Landsraad neposkytne hráči finance na zbudování ekonomiky Arrakisu.</td>
		<td class="ctr">9.7.2012</td>
		<td class="ctr"><a class="duce" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">11/20/5</td>
	</tr>
	<tr>
		<td>001</td>
		<td><font class="zelena">Schvalen</font></td>
		<td>Zákon o přelozdělení melanže. Vesmírná gilda (20%,), Velkorody (10%), CHOAM 10%. CHOAM bude udržovat rezervu 3000 melanže, melanž nad touto rezervou bude prodana na trhu.</td>
		<td class="ctr">9.7.2012</td>
		<td class="ctr"><a class="deputy" href="profil.htm">Nick_autora *</a></td>
		<td class="ctr">26/5/5</td>
	</tr>
</table>
