<%# encoding: utf-8 %>
<% title @title %>

<table class="tab0">
  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to 'Přehled Imperia', imperium_path %> »
      <%= link_to "Volba Imperátora", volba_imperatora_path %>
    </td>
  </tr>
</table>

<% if Imperium.volba_imperatora? %>

<table class="tab1">
  <tr>
    <td style="padding: 10px; width:270px; height: 300px; background-image: url(/assets/imghra/vobyimperatora_v.png) !important">
    
      <h1> Volba Imperátora </h1>
      
      <p><i>Dle Imperiální ústavy je potřeba pro získání Imperiálního trůnu více jak 60 % hlasů. Pokud není zvolen Imperátor, stanou se tři kandidáti s nejvyšším počtem hlasů Regenty - Správci říše.</i></p>
      <p><i>Nové volby jsou vyvolány hlasováním v Landsraadu o nedůvěře hlavě imperia nebo Regentům.</i></p>  
      
      <%= form_tag hlasovat_path(:user_id => @user) do %>

            
            
            <br><h3>Aktuální pořadí kandidátů:</h3>
            <% for user in @imperium.poradi_hlasu('imperator', 6) %>
                <li>
                  <%= user[0].nick %> [<%= user[1] %>]
                </li>
            <% end %>
            
 
     </td>
     
<% if current_user.landsraad? || current_user.admin? %>
     
     <tr></tr>       
        <th style="border-bottom: 1px solid #696969 !important;"> 
            Hlasoval jste pro: <%= @user.koho_jsem_volil_imperatorem %>
                  
          <span style="float:right">
            <%= select_tag("volit_id]", options_for_select(@kandidati.collect { |p| [p.nick, p.id] })) %>
          <%= submit_tag 'Hlasuj', :name => 'imperator', :class => 'ok' %>
          </span>
             
        </th>
      </tr>
<% end %>          
      <% end %>
       
      
      </tr>
</table>

<% else %> 

Volby Imperátora neprobíhají!

<% end %> 

