<tr>
	<td class="tdpl"  style="background-image: url(<%= asset_path cesta_budovy(@owner.house.name, obr) %>)"></td>
	<td>
		<h3><%= budova.name %> (<%= budova.level %>)</h3> 
		<li><%= budova.description %>
		<li><%= img_budovy %> <%= field.postaveno(budova) %> 
    
    
<!-- Zde bude vliv budovy. Tedy celkoví kapacita měst, celková výroba ap)
 
    <li><%= img_populace "Kapacita měst"%> <font class="zelena">+ 10 000</font>
    <li><%= img_solary "Výnos soláry" %>
    <li><%= img_material "Výnos materiál" %>
    <li><%= img_zkusenosti "Výnos zkušenosti" %>

-->



	</td>
	<td>
		<li><%= img_solary %><%= format_mena(budova.naklady_stavba_solary, 'S', false) %>  
		<li><%= img_material %><%= format_mena(budova.naklady_stavba_material, 'kg') %> 
		<%= form_tag postavit_budovu_path(:field => field, :budova => budova) do %>
			<li><%= number_field_tag :pocet_budov_stavba, nil, :in => -21...21, :step => 1 %></li>
			<li><%= submit_tag "Postavit" , :class => "oktab_95" %>
		<% end %>
	</td>
	<td>
		<li><%= img_solary %> 36 
		<li><%= img_material %> 0
		<li><%= number_field_tag :pocet_budov_vylepseni, nil, :in => -10...10, :step => 1 %></li>
	</td>
</tr>