<tr>
  <td class="tdpl" style="background-image: url(<%= asset_path planet.background %>)">
    <li><h2><%= link_to planet.name, planet %></h2>
    <li><%= planet.system_name %>  <%= planet.oznaceni %>
    <li><%= planet.obsazenost %>
  </td>



  <td>
    <li><%= img_populace "Populace na planetě" %> <%= planet.celkova_populace(current_user) %>  <span style="float: right;"><%= link_to 'na DP', stahnout_na_dp_path(:presunout_co => 'Population', :planet => planet.id) %></span> </li>
    <li><%= img_material "Materiál uložený na planetě" %> <%= planet.celkovy_material(current_user) %> <span style="float: right;"><%= link_to 'na DP', stahnout_na_dp_path(:presunout_co => 'Material', :planet => planet.id) %></span>  </li>
    <li><%= img_vyrobky "Vyrobky uložený na planetě" %><%= planet.celkovy_parts(current_user).to_i %> <i style="color:#a9a9a9">(max. <%= planet.kapacita_parts(current_user) %>)</i> <span style="float: right;"><%= link_to 'na DP', stahnout_na_dp_path(:presunout_co => 'Parts', :planet => planet.id) %></span>  </li>
    <!-- <li><%= img_melanz "Melanž uložená na planetě" %> !!!
		<li><%= img_kasarna "Obsazená kapacita kasáren" %> !!!
		<li><%= img_kosmodrom "Celková kapacita kosmodromů" %> !1000 -->
  </td>

  <td>
    <li><%= img_solary "Výnos soláry" %>
      <span class="<%= trida_barvy(planet.vynos(current_user, 'solar').round) %>"><%= format_mena(planet.vynos(current_user, 'solar'), "S") %></span>
    </li>
    <li><%= img_material "Výnos materiál" %>
      <span class="<%= trida_barvy(planet.vynos(current_user, 'material').round) %>"><%= format_mena(planet.vynos(current_user, 'material'), "kg") %></span>
    </li>
    <li><%= img_populace "Výnos populace" %>
      <span class="<%= trida_barvy(planet.vynos(current_user, 'population').round) %>"><%= format_mena(planet.vynos(current_user, 'population'), "k") %></span>
    </li>
    <li><%= img_zkusenosti "Výnos zkušenosti" %>
      <span class="<%= trida_barvy(planet.vynos(current_user, 'exp').round) %>"><%= format_mena(planet.vynos(current_user, 'exp'), "exp") %></span>
    </li>
    <li><%= img_vyrobky "Výnos soucastek" %>
      <span class="<%= trida_barvy(planet.vynos(current_user, 'parts')) %>"><%= format_mena(planet.vynos(current_user, 'parts'), "ks",false) %></span>
    </li>
  </td>

  <td>
    <% pt = planet.planet_type %>
    <li><%= img_solary "Bonus soláry" %>
    <span class="<%= trida_barvy(pt.solar_bonus) %>" title="Planetarni bonus"><%= format_mena(pt.solar_bonus, "%",false) %></span>

      <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("S")-1)*100) %>" title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("S")-1)*100, "%",false) %></span>

        <% tech_bonus_s = (current_user.tech_bonus("S")*100)-100 %>
        <% tech_bonus_s_n = (current_user.house.vyskumane_narodni_tech("S")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_s + tech_bonus_s_n) %>" title="Technologicky bonus">
        <%= format_mena((tech_bonus_s + tech_bonus_s_n), "%",false) %>
      </span>
    </li>
    <li><%= img_material "Bonus materiál" %>
      <span class="<%= trida_barvy(pt.material_bonus) %>"  title="Planetarni bonus"><%= format_mena(pt.material_bonus, "%",false) %></span>

         <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("M")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("M")-1)*100, "%",false) %></span>

          <% tech_bonus_m = (current_user.tech_bonus("M")*100)-100 %>
          <% tech_bonus_m_n = (current_user.house.vyskumane_narodni_tech("M")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_m + tech_bonus_m_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_m + tech_bonus_m_n), "%",false) %>
      </span>
    </li>
    <li><%= img_melanz "Bonus melange" %>
      <span class="<%= trida_barvy(0) %>"  title="Planetarni bonus">
          <%= format_mena(0, "%",false) %></span>

        <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("J")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("J")-1)*100, "%",false) %></span>

          <% tech_bonus_j = (current_user.tech_bonus("J")*100)-100 %>
          <% tech_bonus_j_n = (current_user.house.vyskumane_narodni_tech("J")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_j + tech_bonus_j_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_j + tech_bonus_j_n), "%",false) %>
      </span>
    </li>
    <li><%= img_populace "Bonus populace" %>
      <span class="<%= trida_barvy(pt.population_bonus) %>"  title="Planetarni bonus"><%= format_mena(pt.population_bonus, "%",false) %></span>

      <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("P")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("P")-1)*100, "%",false) %></span>


          <% tech_bonus_p = (current_user.tech_bonus("P")*100)-100 %>
          <% tech_bonus_p_n = (current_user.house.vyskumane_narodni_tech("P")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_p + tech_bonus_p_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_p + tech_bonus_p_n), "%",false) %>
      </span>
    </li>
    <li><%= img_zkusenosti "Bonus zkušenosti" %>
      <span class="<%= trida_barvy(pt.exp_bonus) %>"  title="Planetarni bonus"><%= format_mena(pt.exp_bonus, "%",false) %></span>

      <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("E")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("E")-1)*100, "%",false) %></span>


      <% tech_bonus_e = (current_user.tech_bonus("E")*100)-100 %>
      <% tech_bonus_e_n = (current_user.house.vyskumane_narodni_tech("E")*100)-100 %>
      <span class="<%= trida_barvy(tech_bonus_e + tech_bonus_e_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_e + tech_bonus_e_n), "%",false) %>
      </span>
    </li>
    <li><%= img_kasarna "Bonus ke kapacitě kasáren a kosmodromů" %>
      <span class="cervena"> + 0%</span></li>
  </td>
</tr>
