<% title "Fields" %>

<table class="tab2">
<tr>
	<td class="none"></td>
	<th class="l" style="width:150px">Vaše léna</th>
	<th style="width:100px">Kapacita</th>
	<th style="width:100px">Produkce</th>
	<th class="r" style="width:100px">Bonus planety</th>
</tr>

<tr>
	<td class="tdpl" style="background-image: url(<%= asset_path @domovska.background %>)">
		<li><h2><%= link_to @domovska.name, @domovska %></h2>
		<li><%= @domovska.system_name %>
		<li>[23.3]
	</td>
	
	<td>
		<li><%= link_to @pole_domovska.name, @pole_domovska %>
	</td>
	
	<td>
		<li><%= img_populace "Celková kapacita měst" %> 1000000
		<li><%= img_vyrobky "Celková kapacita výroby" %> 200	
		<li><%= img_kasarna "Celková kapacita kasáren" %> 1000
		<li><%= img_kosmodrom "Celková kapacita kosmodromů" %> 1000
	</td>
	
	<td>
		<li><%= img_solary "Výnos soláry" %><font class="<%= trida_barvy(@domovska.vynos(current_user, 'solar')) %>"><%= format_mena(@domovska.vynos(current_user, 'solar'), "S") %></font>
		<li><%= img_material "Výnos materiál" %><font class="<%= trida_barvy(@domovska.vynos(current_user, 'material')) %>"><%= format_mena(@domovska.vynos(current_user, 'material'), "kg") %></font>		
		<li><%= img_populace "Výnos populace" %><font class="<%= trida_barvy(@domovska.vynos(current_user, 'population')) %>"><%= format_mena(@domovska.vynos(current_user, 'population'), "k") %></font>
		<li><%= img_zkusenosti "Výnos zkušenosti" %><font class="<%= trida_barvy(@domovska.vynos(current_user, 'exp')) %>"><%= format_mena(@domovska.vynos(current_user, 'exp'), "exp") %></font>
	</td>
		
	<td>
		<% pt = @domovska.planet_type %>
		<li><%= img_solary "Bonus soláry" %><font class="<%= trida_barvy(pt.solar_bonus) %>"><%= format_mena(pt.solar_bonus, "%") %></font>
		<li><%= img_material "Bonus materiál" %><font class="<%= trida_barvy(pt.material_bonus) %>"><%= format_mena(pt.material_bonus, "%") %></font>		
		<li><%= img_populace "Bonus populace" %><font class="<%= trida_barvy(pt.population_bonus) %>"><%= format_mena(pt.population_bonus, "%") %></font>
		<li><%= img_zkusenosti "Bonus zkušenosti" %><font class="<%= trida_barvy(pt.exp_bonus) %>"><%= format_mena(pt.exp_bonus, "%") %></font>
	</td>
</tr>

<% for planet in @planets do %>
	<%= render :partial => 'index_planeta', :locals => {:planet => planet} unless planet == @domovska %>
<% end %>

</table>
