<%# encoding: utf-8 %>
<% title "Fields" %>

<table class="tab0">

  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to "Imperialní kartografie", systems_path %> »
      <%= link_to "Seznam vašich lén a planet", fields_path %>
    </td>
  </tr>

</table>
<%= form_tag :presun_suroviny do %>
    <table class="tab3">
      <tr>
        <th>
          <%= select_tag :source_field, options_for_select(@my_fields.order(:name).all.collect { |p| [p.name, p.id] }, {:include_blank => false}), :class => "tab", :title => "Zvolte zdrojove léno." %>
          <%= select_tag :presunout_co, options_for_select(@co_poslat.collect { |p| p }, {:include_blank => false}), :class => "tab" %>
          <%= select_tag :target_field, options_for_select(@my_fields.order(:name).all.collect { |p| [p.name, p.id] }, {:include_blank => false}), :class => "tab", :title => "Zvolte cílové léno." %>
          <%= number_field_tag :amount %>
          <%= submit_tag 'Přesunout', :name => 'presunout', :class => 'ok4', :title => "PŘESUNOUT SUROVINY" %>
          <%= check_box_tag 'tof', 'true', false, :class => 'grey_checkbox', :style => "width:50px;" %> Vse
        </th>
      </tr>
    </table>
<% end %>

<table class="tab2">
  <tr>
    <td class="none"></td>
    <th class="l" style="width:140px">Vaše léna</th>
    <th style="width:80px">Kapacita</th>
    <th style="width:90px">Na planetě</th>
    <th style="width:85px">Produkce</th>
    <th class="r" style="width:100px">Bonusy</th>

  </tr>

  <tr>
    <td class="tdpl" style="background-image: url(<%= asset_path @domovska.background %>)">
      <li><h2><%= link_to @domovska.name, @domovska %></h2></li>
      <li><%= @domovska.system_name %></li>
      <li><%= @domovska.oznaceni %></li>
    </td>

    <td>
      <li><%= link_to @pole_domovska.name, @pole_domovska %></li>
    </td>

    <td>

      <li><%= img_populace "Celková kapacita měst" %> 1000000</li>
      <li><%= img_vyrobky "Celková kapacita výroby" %><%= @pole_domovska.kapacita_tovaren %></li>

      <li><%= img_kasarna "Celková kapacita kasáren" %> 1000</li>
      <!-- <li><%= img_kosmodrom "Celková kapacita kosmodromů" %> 1000</li> -->
    </td>

    <td>
      <li><%= img_populace "Populace na planetě" %> <%= @pole_domovska.resource.population %></li>
      <li><%= img_material "Materiál uložený na planetě" %> <%= @pole_domovska.resource.material %></li>
      <li><%= img_vyrobky "Vyrobky uložený na planetě" %><%= @pole_domovska.resource.parts.to_i %></li>
      <!-- <li><%= img_melanz "Melanž uložená na planetě" %> !!!</li>
		<li><%= img_kasarna "Obsazená kapacita kasáren" %> !!!</li>
		<li><%= img_kosmodrom "Celková kapacita kosmodromů" %> !1000</li> -->
    </td>

    <td>
      <li><%= img_solary "Výnos soláry" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'solar')) %>"><%= format_mena(@domovska.vynos(current_user, 'solar'), "S",false) %></span>
      </li>
      <li><%= img_material "Výnos materiál" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'material')) %>"><%= format_mena(@domovska.vynos(current_user, 'material'), "kg",false) %></span>
      </li>
      <li><%= img_populace "Výnos populace" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'population')) %>"><%= format_mena(@domovska.vynos(current_user, 'population'), "k",false) %></span>
      </li>
      <li><%= img_zkusenosti "Výnos zkušenosti" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'exp')) %>"><%= format_mena(@domovska.vynos(current_user, 'exp'), "exp",false) %></span>
      </li>
    </td>

    <td>
      <% pt = @domovska.planet_type %>
      <li><%= img_solary "Bonus soláry" %>
        <span class="<%= trida_barvy(pt.solar_bonus) %>" title="Planetarni bonus"><%= format_mena(pt.solar_bonus, "%",false) %></span>

      <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("S")-1)*100) %>" title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("S")-1)*100, "%",false) %></span>

        <% tech_bonus_s = (current_user.tech_bonus("S")*100)-100 %>
        <% tech_bonus_s_n = (current_user.house.vyskumane_narodni_tech("S")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_s + tech_bonus_s_n) %>" title="Technologicky bonus">
        <%= format_mena((tech_bonus_s + tech_bonus_s_n), "%",false) %>
      </span>
      </li>
      <li><%= img_material "Bonus materiál" %>
        <span class="<%= trida_barvy(pt.material_bonus) %>"  title="Planetarni bonus"><%= format_mena(pt.material_bonus, "%",false) %></span>

         <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("M")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("M")-1)*100, "%",false) %></span>

        <% tech_bonus_m = (current_user.tech_bonus("M")*100)-100 %>
        <% tech_bonus_m_n = (current_user.house.vyskumane_narodni_tech("M")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_m + tech_bonus_m_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_m + tech_bonus_m_n), "%",false) %>
      </span>
      </li>
      <li><%= img_melanz "Bonus melange" %>
        <span class="<%= trida_barvy(0) %>"  title="Planetarni bonus">
          <%= format_mena(0, "%",false) %></span>

        <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("J")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("J")-1)*100, "%",false) %></span>

        <% tech_bonus_j = (current_user.tech_bonus("J")*100)-100 %>
        <% tech_bonus_j_n = (current_user.house.vyskumane_narodni_tech("J")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_j + tech_bonus_j_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_j + tech_bonus_j_n), "%",false) %>
      </span>
      </li>
      <li><%= img_populace "Bonus populace" %>
        <span class="<%= trida_barvy(pt.population_bonus) %>"  title="Planetarni bonus"><%= format_mena(pt.population_bonus, "%",false) %></span>

      <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("P")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("P")-1)*100, "%",false) %></span>


        <% tech_bonus_p = (current_user.tech_bonus("P")*100)-100 %>
        <% tech_bonus_p_n = (current_user.house.vyskumane_narodni_tech("P")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_p + tech_bonus_p_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_p + tech_bonus_p_n), "%",false) %>
      </span>
      </li>
      <li><%= img_zkusenosti "Bonus zkušenosti" %>
        <span class="<%= trida_barvy(pt.exp_bonus) %>"  title="Planetarni bonus"><%= format_mena(pt.exp_bonus, "%",false) %></span>

      <span class="<%= trida_barvy((@domovska.fields.first.leno_udalost_bonus("E")-1)*100) %>"  title="Bonus udalosti">
          <%= format_mena((@domovska.fields.first.leno_udalost_bonus("E")-1)*100, "%",false) %></span>


        <% tech_bonus_e = (current_user.tech_bonus("E")*100)-100 %>
        <% tech_bonus_e_n = (current_user.house.vyskumane_narodni_tech("E")*100)-100 %>
        <span class="<%= trida_barvy(tech_bonus_e + tech_bonus_e_n) %>"  title="Technologicky bonus">
        <%= format_mena((tech_bonus_e + tech_bonus_e_n), "%",false) %>
      </span>
      </li>
      <li><%= img_kasarna "Bonus ke kapacitě kasáren a kosmodromů" %>
        <span class="cervena"> + 0%</span></li>
    </td>


  </tr>

  <% for planet in @planets do %>
      <%= render :partial => 'index_planeta', :locals => {:planet => planet} unless planet == @domovska %>
  <% end %>

</table>
