<%# encoding: utf-8 %>
<% title "Fields" %>

<table class="tab0">

  <tr>
    <td>
      <a href="#" title="Home">⌂</a> »
      <%= link_to "Imperialní kartografie", systems_path %> »
      <%= link_to "Seznam vašich lén a planet", fields_path %>
    </td>
  </tr>

</table>

<table class="tab2">
  <tr>
    <td class="none"></td>
    <th class="l" style="width:140px">Vaše léna</th>
    <th style="width:90px">Kapacita</th>
    <th style="width:90px">Na planetě</th>
    <th style="width:90px">Produkce</th>
    <th class="r" style="width:80px">Bonusy</th>
  </tr>

  <tr>
    <td class="tdpl" style="background-image: url(<%= asset_path @domovska.background %>)">
      <li><h2><%= link_to @domovska.name, @domovska %></h2></li>
      <li><%= @domovska.system_name %></li>
      <li><%= @domovska.oznaceni %></li>
    </td>

    <td>
      <li><%= link_to @pole_domovska.name, @pole_domovska %></li>
    </td>

    <td>

      <li><%= img_populace "Celková kapacita měst" %> 1000000</li>
      <li><%= img_vyrobky "Celková kapacita výroby" %><%= @pole_domovska.kapacita_tovaren %></li>

      <li><%= img_kasarna "Celková kapacita kasáren" %> 1000</li>
      <!-- <li><%= img_kosmodrom "Celková kapacita kosmodromů" %> 1000</li> -->
    </td>

    <td>
      <li><%= img_populace "Populace na planetě" %> <%= @pole_domovska.resource.population %></li>
      <li><%= img_material "Materiál uložený na planetě" %> <%= @pole_domovska.resource.material %></li>
      <li><%= img_vyrobky "Vyrobky uložený na planetě" %><%= @pole_domovska.resource.parts.to_i %></li>
      <!-- <li><%= img_melanz "Melanž uložená na planetě" %> !!!</li>
		<li><%= img_kasarna "Obsazená kapacita kasáren" %> !!!</li>
		<li><%= img_kosmodrom "Celková kapacita kosmodromů" %> !1000</li> -->
    </td>

    <td>
      <li><%= img_solary "Výnos soláry" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'solar')) %>"><%= format_mena(@domovska.vynos(current_user, 'solar'), "S") %></span>
      </li>
      <li><%= img_material "Výnos materiál" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'material')) %>"><%= format_mena(@domovska.vynos(current_user, 'material'), "kg") %></span>
      </li>
      <li><%= img_populace "Výnos populace" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'population')) %>"><%= format_mena(@domovska.vynos(current_user, 'population'), "k") %></span>
      </li>
      <li><%= img_zkusenosti "Výnos zkušenosti" %>
        <span class="<%= trida_barvy(@domovska.vynos(current_user, 'exp')) %>"><%= format_mena(@domovska.vynos(current_user, 'exp'), "exp") %></span>
      </li>
    </td>

    <td>
      <% pt = @domovska.planet_type %>
      <li><%= img_solary "Bonus soláry" %>
        <span class="<%= trida_barvy(pt.solar_bonus) %>"><%= format_mena(pt.solar_bonus, "%") %></span></li>
      <li><%= img_material "Bonus materiál" %>
        <span class="<%= trida_barvy(pt.material_bonus) %>"><%= format_mena(pt.material_bonus, "%") %></span></li>
      <li><%= img_populace "Bonus populace" %>
        <span class="<%= trida_barvy(pt.population_bonus) %>"><%= format_mena(pt.population_bonus, "%") %></span></li>
      <li><%= img_zkusenosti "Bonus zkušenosti" %>
        <span class="<%= trida_barvy(pt.exp_bonus) %>"><%= format_mena(pt.exp_bonus, "%") %></span></li>
      <li><%= img_kasarna "Bonus ke kapacitě kasáren a kosmodromů" %>
        <span class="cervena"> + 0%</span></li>
    </td>
  </tr>

  <% for planet in @planets do %>
      <%= render :partial => 'index_planeta', :locals => {:planet => planet} unless planet == @domovska %>
  <% end %>

</table>
