
<div class="la">
  <%= link_to "Nepřečtená pošta [" + current_user.neprocteno_sprav.to_s + "]", messages_path %>
</div>

<% if Imperium.volba_imperatora? %>
  <div class="la" styl="background-image: url(images/budovy/Corrino/dom.png) !important;"> 
    <% if current_user.landsraad? %>
      <%= link_to "Přejít k volbě", volba_imperatora_path %>
    <% else %>
       Probíhaji volby Imperátora!
    <% end %>
  </div>
<% end %>

<% field, planet = current_user.zobraz_udalost %>
<% field.each do |f| %>
    <div class="la field_event">
      <%= f[0] %>
      <%= link_to "udalosti", udalosti_path(:id => f[1], :typ => "L") %>
    </div>
<% end %>
<% planet.each do |p| %>
    <div class="la field_event">
      <%= p[0] %>
      <%= link_to "udalosti", udalosti_path(:id => p[1], :typ => "P") %>
    </div>
<% end %>



<%= render 'layouts/narodni_nastenka' %>
