

<%# encoding: UTF-8 %>
<div class="lista">
  <% if current_user -%>
  <%= button_to "Odhlasit", :logout %>
  <input type="button" value="Nastavení" title="Nastavení prostředí hry, hesla a vašich osobních údajů" onClick="window.location.href = '/zmena_hesla_f'; ">
  <% end -%>
  <%= button_to "Help", help_path, :title => "Help" %>     
  <%= button_to "Facebook", 'http://www.facebook.com/DunaOnline', :title => "Dunaonline.cz na Facebooku", :style => "margin-right: 10px;" %>
  <%= button_to "Google+", 'http://plus.google.com/+DunaonlineCz', :title => "Dunaonline.cz na Google+" %>
  <%= button_to "DunaCon", 'http://www.klasikon.tleilax.cz/', :title => "Klasikon a DunaCon na Festivvalu Fantazie v Chotěboři" %>
</div>






