<div id="nava">
  <table id="nava2">
    <tr>
      <td>
        <ul class="menu">
          <li><a class="menukomunikace" title="Komunikace"></a>
            <ul>
              <li><a href="#"> Doručená pošta *</a>
              <li><a href="#"> Odeslaná pošta *</a>
              <li><a href="#"> Poslat poštu *</a>
                <br>
              <li><%= link_to "Syselaady", syselaads_path %></li>
              <li><a href="#"> Malorodní Syselaad *</a>
              <li><a href="#"> Národní Syselaad *</a>
              <li><a href="#"> Mezinárodní fórum *</a>
              <li><a href="#"> Landsraadní fórum *</a>
              <li><a href="#"> Multifórum *</a>
              <li><a href="#"> Systémové fórum *</a>
              <li><%= link_to "Odhlasit", logout_path %></li>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menupolitika" title="Politika"></a>
            <ul>
              <li><%= link_to "Statistika přepočtů", zobraz_eod_path %>
              <li><a href="#"> Mezinárodní diplomacie *</a>
              <li><%= link_to 'Správa hráče', sprava_path(:id => current_user) %>
              <li><a href="#"> Správa Malorodu* </a>
              	<% if can? :sprava_rod, House %>
              <li><%= link_to 'Správa Velkorodu', sprava_rod_path(:id => current_user.house) %>
              	<% end %>
              	<% if can? :sprava, Imperium %>
              <li><%= link_to 'Správa Impéria', sprava_imperia_path %></li>
              	<% end %>
              <li><%= link_to 'Přehled Imperia', imperium_path %></li>
              	<% if current_user.landsraad? || current_user.admin? %>
              		<li><%= link_to 'Jedání Landsraadu', landsraad_jednani_path %></li>
              	<% else %>
              		<li><%= link_to 'Zasedání Landsraadu', landsraad_show_path %></li>
              	<% end %>
              	<li><%= link_to 'Zákoník', laws_path %></li>
                <br>
              <li><a href="#"> Imperiální boje *</a>
              <li><a href="#"> Imperialní databáze *</a>
              <li><%= link_to "Imperialní kartografie", systems_path %>
              <li><a href="#"> Národní databáze *</a>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuvyzkum"  title="Ekonomika a výzkum"></a>
            <ul>
              <li><a href="#"> Ekonomický výzkum *</a>
              <li><a href="#"> Pozemní výzkum *</a>
              <li><a href="#"> Vesmírný výzkum *</a>
              <li><a href="#"> Výroba *</a>
              <li><a href="#"> Obchod *</a>
            </ul>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuarmada"  title="Armádní velitelství"></a>
            <ul>
              <li><a href="#"> Armádní statistiky *</a>
              <li><a href="#"> Verbování jednotek *</a>
              <li><a href="#"> Přesun jednotek *</a>
              <li><a href="#"> Správa šablon jednotek *</a>
              <li><a href="#"> Vyslat útok *</a>
                <br>
              <li><a href="#"> Imperiální boje *</a>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menugalaxy"  title="Správa lén*"></a>
            <ul>
              <li><%= link_to "Spravovaná území", fields_path %> </a>
              <li><a href="#"> Budovy* </a>
              <li><%= link_to "Produkce na Arrakis", zobraz_arrakis_path %>
              <li><a href="#"> Osídlení nového léna *</a>
              <li><a href="#"> Kolonizace nové planety *</a>
                <br>
              <li><a href="#"> Imperialní databáze hráčů *</a>
              <li><a href="#"> Imperialní databáze národů *</a>
              <li><%= link_to "Imperialní kartografie", systems_path %>
            </ul>
          </li>
        </ul>
      </td>

    </tr>
  </table>
</div>