<%# encoding: utf-8 %>
<div id="nava">
  <table id="nava2">
    <tr>
      <td>
        <ul class="menu">
          <li><a class="menukomunikace" title="Komunikace"></a>
            <ul>
              <li><%= link_to "Doručená pošta [" + current_user.neprocteno_sprav.to_s + "]", messages_path %>
              <li><%= link_to "Odeslaná pošta", odeslana_posta_path %>
              <li><%= link_to "Poslat poštu", new_message_path %>
                <br>
                <!-- <li><a href="#"> Malorodní Syselaad *</a> syselaad_path(:kind => 'M') -->
              <li><%= link_to "Malorodní Syselaad","#" %></li>
              <li><%= link_to "Národní Syselaad", syselaad_path(:kind => 'N') %></li>
              <li><%= link_to "Mezinárodní Syselaad", syselaad_path(:kind => 'E') %></li>
              <!--
              <li><%= link_to "Imperialní Syselaad", syselaad_path(:kind => 'I') %></li>
              -->
              <% if current_user.landsraad? || current_user.admin? %>
                  <li><%= link_to "Landsraadní Syselaad", syselaad_path(:kind => 'L') %></li>
              <% end %>
              <!-- <li><a href="#"> Multifórum *</a>  -->
              <li><%= link_to "Systémový Syselaad", syselaad_path(:kind => 'S') %></li>
              <br/>
              <li><%= link_to 'Změna hesla', zmena_hesla_f_path %></li>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menupolitika" title="Politika"></a>
            <ul>
              
              <!--<li><a href="#"> Mezinárodní diplomacie *</a>-->
              <li><%= link_to 'Správa hráče a volby', sprava_path(:id => current_user) %>
              
              <br>
              
              <% if can? :sprava_mr, Subhouse %>
                  <li><%= link_to 'Správa Malorodu', sprava_mr_path(:id => current_user.subhouse) %>
                  <li><%= link_to 'Malorod', current_user.subhouse if current_user.subhouse %></li>
              <% else %>
                  <li><%= link_to 'Malorod', current_user.subhouse if current_user.subhouse %></li>
              <% end %>
              
              <% if can? :sprava_rod, House %>
                  <li><%= link_to 'Správa Velkorodu', sprava_rod_path(:id => current_user.house) %>
                  <li><%= link_to 'Velkorod', current_user.house %></li>
              <% else %>
                  <li><%= link_to 'Velkorod', current_user.house %></li>
              <% end %>
              
              <% if can? :sprava, Imperium %>
                  <li><%= link_to 'Správa Impéria', sprava_imperia_path %></li>
              <% else %>
                  <li><%= link_to 'Impérium', imperium_path %></li>
              <% end %>
              
              <% if current_user.landsraad? || current_user.admin? %>
                  <li><%= link_to 'Zasedání Landsraadu', landsraad_jednani_path %></li>
              <% else %>
                  <li><%= link_to 'Landsraad', landsraad_show_path %></li>
              <% end %>
              
              <% if current_user.emperor? || current_user.admin? %>
                  <li><%= link_to 'Zákony na podepsání', imperator_zakony_path %></li>
              <% end %>
              
              
              <br>
              <li><%= link_to 'Archiv Landsraadu', laws_path %></li>
              <% if current_user.subhouse %>
                <li><%= link_to 'Seznam Malorodů', subhouses_path %></li>
              <% else %>
                <li><%= link_to 'Vstoupit do Malorodu', subhouses_path %></li>
              <% end %>
              
              
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuvyzkum" title="Ekonomika a výzkum"></a>
            <ul>
              <li><%= link_to "Statistika přepočtů", zobraz_eod_path %>
              
              <br>
              
              <li><%= link_to ' Váš výzkum', technologies_path %></li>

              <% if current_user.admin? || current_user.leader? || current_user.mentat? %>
              <li><%= link_to 'Národní výzkum', narodni_vyskum_path %>
              <% end %>
              
              <li><%= link_to ' Výroba a transport výrobků', productions_path %></li>
              
              <br>

              <li><%= link_to ' Trh', markets_path %></li>
              <li><%= link_to ' Trh - Vaše nabídky', my_offers_path %></li>
              
            </ul>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menuarmada" title="Armádní velitelství"></a>
            <ul>
              <li><a href="#"> Verbování jednotek *</a>
              <li><a href="#"> Rozdělení jednotek *</a>
                <!--<li><a href="#"> Správa šablon jednotek *</a> -->
              <li><a href="#"> Vyslat útok *</a>
                <br>
              <li><a href="#"> Imperiální statistika bojů *</a>
            </ul>
          </li>
        </ul>
      </td>

      <td>
        <ul class="menu">
          <li><a class="menugalaxy" title="Správa lén*"></a>
            <ul>
              
              <li><%= link_to "Seznam vašich lén a planet", fields_path %>
              <li><%= link_to "Zástavba lén", current_user.domovske_leno %>
              <li><%= link_to "Léna k osídlení", planets_path %>
                <br>
              <li><%= link_to "Arrakis", zobraz_arrakis_path %>
              <% if can? :sprava_rod, House %>
                  <li><%= link_to "Kolonizovat planetu", kolonizuj_path %></li>
              <% end %>
                <br>
              <li><%= link_to "Imperialní kartografie", systems_path %></li>
              <li><%= link_to "Imperiální databáze hráčů", users_path %></li>
              <li><%= link_to "Imperiální databáze národů", houses_path %></li>
            </ul>
          </li>
        </ul>
      </td>

    </tr>
  </table>
</div>
