<div class="all" style="padding-top: 15px;">
		
	<i>
  
<i><p>Drazí občané Impéria,
<p>od náhlého úmrtí mocného Imperátora Elrooda IX. Corrino se mnohé změnilo…
<p>Velkorody Atreides a Ekaz ztrestaly vůdce povstání Suboidů na Iksu, přičemž hrabě Dominik Vernio opět usedl na purpurový trůn Verniů z Iks. Imperiální regent sedící po pravici Zlatého trůnu přikázal popravu usvědčeného atentátníka – tvarového tanečníka, který zavraždil korunního prince Shaddama IV. Corrino. Po tomto prohlášení započala blokáda Tleilaxu požadující vydání pánů již zmíněného tvarového tanečníka. Blokády se zúčastnily zbylé velkorody Landsraadu, jmenovitě Harkonnenové, Moritani a Riches.
<p>Mluvčí pravdy ze sesterstva Bene Gesserit přislíbila svou podporu při následném soudním tribunálu, který se odehraje na oběžné dráze Tleilaxu. Šlechtici věrní rodu Corrino se účastnit odmítli a pod ochranou Sardaukarů se stáhli na dřívější domovskou planetu Corrinů, na Salusu Secundus.
<p>Jeho výsost Imperiální Regent přislíbil, že ochrání Imperiální dvůr a Impérium, než bude zvolen právoplatný Imperátor.
</i>
	<br> 
	<br>
  
<p>Vážení návštěvníci!
<p>Vítám vás u vstupního portálu do herního světa Duny, jejímž stvořitelem je americký spisovatel Frank Herbert. Ve své fantasii vytvořil epos o pouštní planetě Arrakis (jinak známé jako Duna) zahrnující vesmír s kvalitou minimálně na úrovni Tolkienovy Středozemě.
<p>Tyto stránky mají ambici navázat na tradiční českou hru dunaonline.com a to v novém kabátě a s novými možnostmi – jak pro jednotlivé hráče, tak pro jejich vedení.
<p>Pro členství ve hře se stačí pouze bezplatně zaregistrovat! Jménem admin-týmu vám přeji příjemnou zábavu a hru.


</div>

<table class="tab1">
	<tr>
		<th>
			Screeny ze hry
		</th>
	</tr>	

	<tr>
		<td style="text-align:center">
			<%= image_tag("img/screen1_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen2_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen3_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen4_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen5_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen6_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen7_mini.png", class: "screen", alt: "Screen") %>
			<%= image_tag("img/screen8_mini.png", class: "screen", alt: "Screen") %>
					
		</td>
	</tr>						

</table>
